.range_slider {
    width: 90%;
}

.range_slider {
    -webkit-appearance: none;
    width: 90%;
    height: 8px;
    background: #a3b7ee;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 10px;
}

.range_slider:hover {
    opacity: none;
}

.range_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 35px;
    border-radius: 10px;
    background: #0035b9;
    cursor: pointer;
}

.range_label_name {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #333333;
}

.input_value_name {
    width: 105%;
    margin: 1px;
    padding: 4px 11px 4px 16px;
    border-radius: 24px;
    border: solid 1px rgba(93, 90, 229, 0.5);
    background-color: rgba(93, 90, 229, 0.04);
}

.input_value {
    padding-top: 4px;
    border-radius: 8px;
    border: 1px solid rgba(93, 90, 229, 0.5);
    text-align: center;
    height: 32px;
    background-color: rgba(93, 90, 229, 0.04);
}

.input_panel_text {
    width: 71px;
    height: 24px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #333333;
}

.input_header_text {
    height: 16px;
    font-family: Inter;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #808080;
}

.save_update_btn {
    background-color: #0035b9;
    width: 95%;
}
.save_update_btn_disabled {
    width: 95%;
}

.insights_panel {
    padding: 24px 16px 24px 24px;
    border-radius: 4px;
    box-shadow: 0 4px 24px -8px rgba(125, 112, 188, 0.2);
    border: solid 1px rgba(0, 53, 185, 0.1);
    background-color: #ffffff;
}

.primary_alternate_text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333333;
}

.primary_alternate_edit_btn {
    padding: 0 15px;
    border-radius: 4px;
    box-shadow: 0 4px 24px -8px rgb(125 112 188 / 20%);
    border: solid 1px rgba(0, 53, 185, 0.1);
    background-color: #ffffff;
}

.primary_alternate_edit_btn_text {
    height: 26px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #0035b9;
}

.drive_image {
    width: 117px;
    height: 139px;
    margin: 0 16px 0 0;
    object-fit: contain;
}

input[type=text] {
    width: 100%;
    padding: 7px 19px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    border: solid 1px rgba(93, 90, 229, 0.5);
    background-color: rgba(93, 90, 229, 0.04);
    color: rgb(53, 51, 51);
    outline: none;
}

.forword_looking_date {
    text-align: center;
    padding: 5px 0;
    border-radius: 8px;
    border: solid 1px rgba(93, 90, 229, 0.5);
    background-color: #f9f9fe;
}

.input_date {
    width: 100%;
    padding: 6px 19px;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    border: solid 1px rgba(93, 90, 229, 0.5);
    background-color: rgba(93, 90, 229, 0.04);
    color: rgb(53, 51, 51);
    outline: none;
    height: 31px !important;
}

select {
    width: 100%;
    border-radius: 6px;
    height: 20;
    height: 33px;
    background-color: rgba(93, 90, 229, 0.04);
    border: solid 1px rgba(93, 90, 229, 0.5);
    outline: none;
}

.custom-accordion {
    border: none;
    background: none;
    padding-left: 15px;
}

.display-none {
    display: none;
}

.menu-img {
    padding-right: 9px;
    margin-top: -4px;
}