<template>
    <lightning-card>
        <lightning-card>
            <h3 slot="title">
                <span>
                    <img src={cardIcon} alt="lampIcon" class="menu-img">
                </span>
                Insights
            </h3>
            <div class="slds-no-flex" slot="actions">
                <button class="custom-accordion" onclick={handleInsightsAccordion} if:false={showInsights}>
                    <span>
                        <img src={chevronDown} alt="lampIcon">
                    </span>
                </button>
                <button class="custom-accordion" onclick={handleInsightsAccordion} if:true={showInsights}>
                    <span>
                        <img src={chevronUp} alt="lampIcon">
                    </span>
                </button>
            </div>
            <template for:each={insightPanel} for:item="insigthItem" if:true={showInsights}>
                <article class="insights_panel" key={insigthItem.causeId} style="margin-bottom: 22px">
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_2-of-12">
                            <img class="drive_image" src={insigthItem.driveimage} />
                        </div>
                        <div class="slds-col slds-size_8-of-12">
                            <samp class="primary_alternate_text">{insigthItem.causeName}</samp></br>
                            <p class="primary_alternate_text">{insigthItem.comment}</p>
                        </div>
                        <div class="slds-col slds-size_2-of-12" style="text-align-last: right;">
                            <button class="slds-button primary_alternate_edit_btn primary_alternate_edit_btn_text"
                                name="Edit" title="Edit" data-action={insigthItem.driverType}
                                onclick={handleNew}>Edit</button>
                        </div>
                    </div>
                </article>
            </template>
        </lightning-card>
        <lightning-card>
            <h3 slot="title">
                <span>
                    <img src={cardIcon} alt="lampIcon" class="menu-img">
                </span> Route To Value
            </h3>
            <div class="slds-no-flex" slot="actions">
                <button class="custom-accordion" onclick={handleRouteToValueAccordion} if:false={showRouteToValue}>
                    <span>
                        <img src={chevronDown} alt="lampIcon">
                    </span>
                </button>
                <button class="custom-accordion" onclick={handleRouteToValueAccordion} if:true={showRouteToValue}>
                    <span>
                        <img src={chevronUp} alt="lampIcon">
                    </span>
                </button>
            </div>
            <div
                class="slds-card slds-card_boundary related_list_card_border_top forceRelatedListCardDesktop routeToValue">
                <div class="related_list_themed_border_top"></div>
                <lightning-card>
                    <div class="container"></div>
                </lightning-card>
            </div>
        </lightning-card>
        <lightning-card>
            <h3 slot="title">
                <span>
                    <img src={cardIcon} alt="lampIcon" class="menu-img">
                </span> Alternate Scenario
            </h3>
            <div class="slds-no-flex" slot="actions">
                <button class="custom-accordion" onclick={handleAlternativeAccordion} if:false={showAlternative}>
                    <span>
                        <img src={chevronDown} alt="lampIcon">
                    </span>
                </button>
                <button class="custom-accordion" onclick={handleAlternativeAccordion} if:true={showAlternative}>
                    <span>
                        <img src={chevronUp} alt="lampIcon">
                    </span>
                </button>
            </div>
            <div class="slds-card slds-card_boundary related_list_card_border_top forceRelatedListCardDesktop"
                if:true={showAlternative}>
                <div class="related_list_themed_border_top"></div>
                <lightning-card>
                    <p class="slds-p-horizontal_small">
                        <template for:each={regressionMovingValueList} for:item="item">
                            <div class="slds-form-element" key={item.id}>
                                <label class="slds-form-element__label" for="slider-id-01">
                                    <span class="slds-slider-label">
                                        <span class="slds-slider-label__label range_label_name">{item.name}</span>
                                    </span>
                                </label>
                                <div class="slds-form-element__control">
                                    <div class="slidecontainer">
                                        <input type="range" class="range_slider" value={item.delta} min=-100 max=100
                                            oninput={handleOnChange} name={item.id}>
                                        <span class="slds-slider__value input_panel_text"
                                            aria-hidden="true">{item.altLabel}%</span>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </p>
                    <div class="slds-border_top" style="margin-top: 2rem"></div>
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_6-of-12">
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size_8-of-12">
                                    <p class="input_header_text" style="margin: 12px 0px 0px 12px">INPUT</p>
                                </div>
                                <div class="slds-col slds-size_4-of-12">
                                    <p class="input_header_text " style="margin: 12px 0px 0px 0px">VALUE</p>
                                </div>
                            </div>
                            <template for:each={regressionMovingValueList} for:item="item">
                                <div class="slds-form-element" key={item.id}>
                                    <div class="slds-grid slds-gutters" style="padding: 10px;">
                                        <div class="slds-col slds-size_8-of-12">
                                            <p class="input_value_name">
                                                <lightning-formatted-text value={item.name} class="input_panel_text">
                                                </lightning-formatted-text>
                                            </p>
                                        </div>
                                        <div class="slds-col slds-size_4-of-12">
                                            <p class="input_value">
                                                <samp class="input_panel_text">{item.altLabel}</samp>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </template>
                        </div>
                        <div class="slds-border_right"></div>
                        <div class="slds-col slds-size_6-of-12">
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size_8-of-12">
                                    <p class="input_header_text" style="margin: 12px 0px 0px 0px">OUTCOME</p>
                                </div>
                                <div class="slds-col slds-size_4-of-12">
                                    <p class="input_header_text" style="margin: 12px 0px 0px 0px">VALUE</p>
                                </div>
                            </div>
                            <div class="slds-grid slds-gutters" style="padding-top: 10px;padding-right: 20px;">
                                <div class="slds-col slds-size_8-of-12">
                                    <p class="input_value_name">
                                        <samp class="input_panel_text">Sales ($M)</samp>
                                    </p>
                                </div>
                                <div class="slds-col slds-size_4-of-12">
                                    <p class="input_value">
                                        <samp class="input_panel_text">00</samp>
                                    </p>
                                </div>
                            </div>
                            <template for:each={regressionMovingValueList} for:item="item">
                                <div class="slds-form-element" key={item.id}>
                                    <div class="slds-grid slds-gutters" style="padding: 19px;">
                                        <div class="slds-col slds-size_6-of-12">
                                        </div>
                                        <div class="slds-col slds-size_6-of-12" style="margin: 1px 0px 1px 58px">
                                        </div>
                                    </div>

                                </div>
                            </template>
                            <div class="slds-grid slds-gutters" style="padding: 0px 0px 1px 10px">
                                <div class="slds-col slds-size_12-of-12">
                                    <p if:true={refeshButtonActive}>
                                        <button class="slds-button slds-button_brand save_update_btn"
                                            name="Save Updated Values" title="Save Updated Values"
                                            onclick={handleSubmitChangedCauses}>Save
                                            Updated Values</button>
                                    </p>
                                    <p if:false={refeshButtonActive}>
                                        <button class="slds-button slds-button_brand save_update_btn_disabled"
                                            name="Save Updated Values" title="Save Updated Values" disabled>Save
                                            Updated
                                            Values
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-border_top"></div>
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_6-of-12" style="padding: 10px;">
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size_12-of-12">
                                    <p style="margin: 10px 0px 0px 10px" class="input_header_text">TARGET FORECAST
                                    </p>
                                </div>
                            </div>
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size_12-of-12">
                                    <div style="margin: 12px 11px 0px 11px;">
                                        <input type="text" class="input_box" name="input1" value={myValue}
                                            onchange={handleKidCalculationChange}>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size_6-of-12">
                                    <div style="margin: 10px 0px 0px 10px;">
                                        <samp class="input_header_text">TIME TO
                                            FORECAST</samp>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-grid slds-gutters" style="padding: 10px;">
                                <div class="slds-col slds-size_6-of-12">
                                    <lightning-formatted-text class="input_panel_text" value={targetForecastOutput}>
                                    </lightning-formatted-text>
                                </div>
                            </div>
                        </div>
                        <div class="slds-border_right"></div>
                        <div class="slds-col slds-size_6-of-12">
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size_12-of-12" style="margin: 19px 0px 0px 0px;">
                                    <p class="input_header_text">
                                        FORWARD-LOOKING DATE RANGE</p>
                                </div>
                            </div>
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size_6-of-12">
                                    <div class="forword_looking_date" style="margin: 22px 0px 0px 0px;">
                                        <span>{forwardLookingDate}</span>
                                    </div>
                                </div>
                                <div class="slds-col slds-size_6-of-12">
                                    <div style="margin: 22px 18px 0px -10px">
                                        <template if:true={frequencyDaily}>
                                            <div style="margin: 22px 18px 0px -10px">
                                            <input type="date" name="fname" class="input_date" value={forwardLookingDateRangeResult}
                                                onchange={handleKidFLDRChange} max={maxFLDR} min={minFLDR} placeholder="Select Date" > 
                                                 <!-- <lightning-input type="date" name="fname" class="input_date" value={forwardLookingDateRangeResult}
                                                onchange={handleKidFLDRChange} max={maxFLDR} min={minFLDR} placeholder="Select Date"  > </lightning-input> -->
                                            </div>
                                        </template>
                                        <template if:true={frequencyMonthly}>
                                            <div style="margin: 22px 18px 0px -10px">
                                            <input type="month" name="fname" class="input_date" placeholder="Select Month"  value={forwardLookingDateRangeResult}
                                                onchange={handleKidFLDRChange} max={maxFLDR} min={minFLDR}>
                                            </div>
                                        </template>
                                        <template if:true={frequencyWeekly}>
                                            <div style="margin: 22px 18px 0px -10px">
                                            <input type="week" name="fname" class="input_date" placeholder="Select Week" value={forwardLookingDateRangeResult}
                                                onchange={handleKidFLDRChange}  max={maxFLDR} min={minFLDR} >
                                            </div>
                                        </template>
                                        <template if:true={frequencyQuarterly}>
                                            <div style="margin: -20px 2px 0px -10px">
                                            <lightning-combobox
                                             name="progress"
                                             value={forwardLookingDateRangeResult}
                                             placeholder="Select Quarter"
                                             options={quarterOptions}
                                             onchange={handleKidFLDRChange} >
                                            </lightning-combobox>
                                        </div>
                                        </template>
                                    </div>
                                </div>

                            </div>
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size_12" style="margin: 25px 0px 0px 2px">
                                    <p class="input_header_text">
                                        PROJECTED SPEND</p>
                                </div>
                            </div>
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size_12-of-12">
                                    <div style="margin: 10px 16px 1px 1px">
                                        <input type="text" id="fname" name="fname" value={getProjectedSpend} onchange={onchangeProjectedSpend}>
                                    </div>

                                </div>
                            </div>
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size_12">
                                    <div style="margin: 12px 0px 0px 2px">
                                        <p class="input_header_text">
                                            PROJECTED OUTCOME
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size12_12">
                                    <div style="margin: 9px 7px 9px 2px;">
                                        <span>{calForwardLookingDateRange}</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-border_top"></div>
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_4-of-12">
                            <div style="padding: 10px 0px 10px 10px">
                                <span class="input_header_text">TARGET TOTAL OUTCOME</span>
                                <div style="margin: 10px 0px 10px 0px">
                                    <input type="text" id="fname2" name="fname" value={tagetTotaloutcome}  onchange={handleTargetTotalOutcome}>
                                </div>
                            </div>
                        </div>
                        <div class="slds-border_right"></div>
                        <div class="slds-col slds-size_4-of-12">
                            <div style="padding: 10px 0px 10px 0px">
                                <span class="input_header_text">START DATE</span>
                                <div style="margin: 22px 0px 10px 0px">
                                    <template if:true={frequencyDaily}>
                                        <input type="date" name="fname" class="input_date" value={getTagetTotaloutcomeValue}
                                            onchange={handleKidTargetTotalOutcomeStartDate} max={maxDateTargetTotal} min={minDateTargetTotal}>
                                    </template>
                                    <template if:true={frequencyMonthly}>
                                        <input type="month" name="fname" class="input_date" value={getTagetTotaloutcomeValue}
                                            onchange={handleKidTargetTotalOutcomeStartDate} max={maxDateTargetTotal} min={minDateTargetTotal}>

                                    </template>
                                    <template if:true={frequencyWeekly}>
                                        <input type="week" name="fname" class="input_date weeklyOutcomeStartDate" value={getTagetTotaloutcomeValue}
                                            onchange={handleKidTargetTotalOutcomeStartDate} max={maxDate} min={minDate}>

                                    </template>
                                    <template if:true={frequencyQuarterly}>
                                        <div style="margin: -20px 2px 0px -10px">
                                        <lightning-combobox
                                         name="progress"
                                        value={tagetTotaloutcomeStartDate}
                                        placeholder="Select Progress"
                                        options={historicalTimePeriodOptions}
                                         onchange={handleKidTargetTotalOutcomeStartDate} >
                                        </lightning-combobox>
                                    </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                        <div class="slds-border_right"></div>
                        <div class="slds-col slds-size_4-of-12">
                            <div style="padding: 10px 0px 10px 1px">
                                <span class="input_header_text">PROJECTED OUTCOME</span>
                                <div style="margin: 26px 0px 10px 0px">
                                    <span>{targetOutcomeResult}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-border_top"></div>
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_12-of-12">
                            <div style="text-align: center; margin: 21px 0px 6px 0px;">
                                <button class="slds-button slds-button_brand save_update_btn" name="Save Updated Values"
                                    title="Calculate New Values">Calculate New
                                    Values</button>
                            </div>
                        </div>
                    </div>
                </lightning-card>
            </div>
        </lightning-card>
    </lightning-card>

    <c-record-form-modal sectioncssclass={sectionCssClass} header=Commentary>
        <div class="slds-modal__content slds-p-around_small" id="modal-content-id-1">
            <lightning-textarea name="input1" value={commentBoxValue} label="Commentary" data-field='comment'>
            </lightning-textarea>
        </div>
        <div class="slds-float_right">
            <lightning-button label="Cancel" variant="neutral" onclick={handleCancelRecordFormModal}
                data-action="cancel">
            </lightning-button>&nbsp;&nbsp;&nbsp;&nbsp;
            <lightning-button label="Save" variant="brand" type="submit" data-action="new" disabled={hasDisabled}
                onclick={handleSubmit}>
            </lightning-button>
        </div>
    </c-record-form-modal>
    <div class="spinner">
        <template if:false={isLoading}>
            <lightning-spinner alternative-text="Loading" variant="brand">
            </lightning-spinner>
        </template>
    </div>
</template>