<template>
    <!--
    <div if:true={header}>
    <div class="slds-page-header">
        <div class="slds-page-header__row">
            <div class="slds-page-header__col-title">
                <div class="slds-media">
                    <div class="slds-media__figure">
                        <div class="extraSmall forceEntityIcon" style={kidIconColor}>
                            <span class="uiImage">
                                <img src={objectInfo.themeInfo.iconUrl} class="icon " alt={objectInfo.label} title={objectInfo.label}>
                            </span>
                        </div>
                    </div>
                    <div class="slds-media__body">
                        <div class="slds-page-header__name">
                            <div class="slds-page-header__name-title">
                                <h1>
                                    <span class="slds-page-header__title slds-truncate"
                                        title={objectInfo.label}>{objectInfo.label}</span>
                                </h1>
                            </div>
                        </div>
                        <p class="slds-page-header__name-meta">Mark Jaeckal • Unlimited Customer • 11/13/15</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
    
   <!--<lightning-card if:true={header}>-->
       <div if:true={header}>
           <div if:true={wiredKidRecord.data}>
        <div class="slds-grid slds-page-header forceRelatedListCardHeader">
            <header class="slds-media slds-media--center slds-has-flexi-truncate">
                <div class="slds-media__figure stencil slds-avatar slds-avatar_small">
                    <div class="extraSmall forceEntityIcon" style={kidIconColor}>
                        <span class="uiImage">
                            <img src={objectInfo.themeInfo.iconUrl} class="icon " alt={objectInfo.label}
                                title={objectInfo.label}>
                        </span>
                    </div>
                </div>
                <!--
                <div class="slds-media__body">
                    <p class="Key-Insight-Dashboar ">Key Insight Dashboard</p>
                    <div class="slds-page-header__name">
                        <div class="slds-page-header__name-title">
                            <h1>
                                <span class="slds-page-header__title slds-truncate" title={objectInfo.label}>Record Name</span>
                            </h1>
                        </div>
                    </div>
                </div>-->
                <div class="slds-media__body">
                    <!--<h2 class="slds-text-heading--small slds-truncate">-->
                        <div class = "Key-Insight-Dashboar">Key Insight Dashboard</div>
                    <!--</h2>-->
                    <!--<p class="slds-text-heading--label">Record Type</p>-->
                    <div class="slds-page-header__name">
                        <div class="slds-page-header__name-title">
                            <h1>
                                <span class="slds-page-header__title slds-truncate" title={objectInfo.label}>{name}</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        </div>
    </div>
    <!--/lightning-card>--> 
</template>