<template>
    <div class="slds-card slds-card_boundary related_list_card_border_top forceRelatedListCardDesktop">
        <div class="related_list_themed_border_top"></div>
        <lightning-card icon-name="custom:custom41">
            <h2 slot="title"><b>{objectTypeLabel}</b></h2>
            <c-datatable records={data} rowoffset={rowOffset} columns={columns} selectedrows={selectedRows} sortedby={sortedBy} sorteddirection={sortedDirection} hidecheckboxcolumn={hideCheckboxColumn} showrownumbercolumn={showRowNumberColumn} tableloadingstate={tableLoadingState} onselect={handleSelect} onrowselect={handleSelectedRows} oncolumnsort={handleColumnSort}></c-datatable>
        </lightning-card>
    </div>
    <c-toast></c-toast>
</template>