<template>
    <div class="slds-hide">
        <lightning-record-form record-id="" object-api-name={objectApiName} columns="2" layout-type="Full" mode="edit"
            onload={onLoad}>
        </lightning-record-form>
    </div>
    <template if:true={showModal}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small"
            aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon class="slds-modal__close" title="Close" icon-name="utility:close"
                        icon-class="slds-button_icon-inverse" onclick={handleDialogClose}></lightning-button-icon>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{header}</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <lightning-accordion allow-multiple-sections-open active-section-name={activeAccordionSections}>
                        <lightning-record-edit-form object-api-name={objectApiName} record-id={recordId}
                            onsuccess={onSuccess} onerror={handleError}>
                            <template for:each={layoutSections} for:item="layoutSection">
                                <lightning-accordion-section key={layoutSection.id} name={layoutSection.id}
                                    label={layoutSection.heading}>
                                    <lightning-layout multiple-rows>
                                        <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                            <lightning-input-field field-name="Name"></lightning-input-field>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                            <lightning-slider data-field="AcquisitionRetention"
                                                label={label.frm_Acquisition_Retention} value={acquisitionRetention}>
                                            </lightning-slider>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                            <lightning-input-field field-name="musqotmp__MarketingPlan__c">
                                            </lightning-input-field>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                            <lightning-slider data-field="MoreDealsBiggerDeals"
                                                label={label.frm_More_Bigger_Deals} value={moreDealsBiggerDeals}>
                                            </lightning-slider>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                            <lightning-input-field field-name="musqotmp__FiscalYear__c">
                                            </lightning-input-field>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                            <lightning-slider data-field="RevenueCashflow"
                                                label={label.frm_Revenue_cashflow} value={revenueCashflow}>
                                            </lightning-slider>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                            <lightning-input-field field-name="musqotmp__Period__c">
                                            </lightning-input-field>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                </lightning-accordion-section>
                            </template>
                            <lightning-button label={label.btn_save} variant="brand" type="submit"
                                class="slds-float_right"></lightning-button>
                        </lightning-record-edit-form>
                    </lightning-accordion>
                </div>
            </div>
        </section>
        <!--<div class="slds-backdrop slds-backdrop_open"></div>-->
    </template>
    <div class="slds-backdrop slds-backdrop_open"></div>
    <c-toast></c-toast>
</template>