<template>
    <div style="width:100%; position:absolute;" class="gantt_parent_div_height">
        <div lwc:dom="manual" id="gantt" class="gantt"></div>
    </div>
    <c-modal header={header} sectioncssclass={sectioncssclass}>
        <template if:true={isPlan}>
            <lightning-tabset>
                <lightning-tab label="Plan" onactive={handleActiveOpenButton}>
                    <c-record-view-form objectapiname={objectApiName} fields={fields} recordid={taskId}>
                    </c-record-view-form>
                </lightning-tab>
            </lightning-tabset>
        </template>
        <template if:true={isCampaign}>
            <lightning-tabset>
                <lightning-tab label="Campaign" onactive={handleActiveOpenButton}>
                    <lightning-record-view-form object-api-name={objectApiName} record-id={taskId}>
                        <lightning-layout multiple-rows>
                            <template for:each={fields} for:item="field">
                                <lightning-layout-item key={field.name} size="6" medium-device-size="6" padding="around-small">
                                    <template if:true={field.hasCampaign}>
                                        <div>
                                            <label class="label inputLabel uiLabel-left form-element__label uiLabel">
                                                <span class="">{field.label}</span>
                                            </label>
                                        </div>
                                        <a href={campaignUrl} target="__blank">{campaignValue}</a>
                                    </template>
                                    <template if:true={field.hasMarketingPlan}>
                                        <div>
                                            <label class="label inputLabel uiLabel-left form-element__label uiLabel">
                                                <span class="">{field.label}</span>
                                            </label>
                                        </div>
                                        <a href={marketingPlanUrl} target="__blank">{marketingPlan}</a>
                                    </template>
                                    <template if:false={field.hasReference}>
                                        <lightning-output-field field-name={field.name}></lightning-output-field>
                                    </template>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>
                    </lightning-record-view-form>
                </lightning-tab>
                <template if:true={financeAllocation}>
                    <lightning-tab label="Allocation" onactive={handleActiveAllocation}>
                        <c-datatable records={data} columns={columns} hidecheckboxcolumn={hideCheckboxColumn}
                        tableloadingstate={tableLoadingState}></c-datatable>
                    </lightning-tab>
                </template>
            </lightning-tabset>
        </template>
        <!-- <template if:true={isMarketingActivity}>
            <lightning-tabset>
                <lightning-tab label="Marketing Activity" onactive={handleActiveOpenButton}>
                    <lightning-record-view-form object-api-name={objectApiName} record-id={taskId}>
                        <lightning-layout multiple-rows>
                            <template for:each={fields} for:item="field">
                                <lightning-layout-item key={field.name} size="6" medium-device-size="6" padding="around-small">
                                    <template if:true={field.hasCampaign}>
                                        <div>
                                            <label class="label inputLabel uiLabel-left form-element__label uiLabel">
                                                <span class="">{field.label}</span>
                                            </label>
                                        </div>
                                        <a href={campaignUrl} target="__blank">{campaignValue}</a>
                                    </template>
                                    <template if:true={field.hasMarketingPlan}>
                                        <div>
                                            <label class="label inputLabel uiLabel-left form-element__label uiLabel">
                                                <span class="">{field.label}</span>
                                            </label>
                                        </div>
                                        <a href={marketingPlanUrl} target="__blank">{marketingPlan}</a>
                                    </template>
                                    <template if:false={field.hasReference}>
                                        <lightning-output-field field-name={field.name}></lightning-output-field>
                                    </template>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>
                    </lightning-record-view-form>
                </lightning-tab>
                <lightning-tab label={otherobjectapiname} onactive={handleActive}>
                    <lightning-record-view-form object-api-name={otherobjectapiname} record-id={taskIdJourney}>
                        <lightning-layout multiple-rows>
                            <template for:each={fieldsCampaign} for:item="field">
                                <lightning-layout-item key={field.name} size="6" medium-device-size="6" padding="around-small">
                                    <template if:true={field.hasCampaign}>
                                        <div>
                                            <label class="label inputLabel uiLabel-left form-element__label uiLabel">
                                                <span class="">{field.label}</span>
                                            </label>
                                        </div>
                                        <a href={campaignUrl} target="__blank">{campaignValue}</a>
                                    </template>
                                    <template if:true={field.hasMarketingPlan}>
                                        <div>
                                            <label class="label inputLabel uiLabel-left form-element__label uiLabel">
                                                <span class="">{field.label}</span>
                                            </label>
                                        </div>
                                        <a href={marketingPlanUrl} target="__blank">{marketingPlan}</a>
                                    </template>
                                    <template if:false={field.hasReference}>
                                        <lightning-output-field field-name={field.name}></lightning-output-field>
                                    </template>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>
                    </lightning-record-view-form>
                </lightning-tab>
               <template if:true={financeAllocation}>
                    <lightning-tab label="Allocation" onactive={handleActiveAllocation}>
                        <c-datatable records={data} columns={columns} hidecheckboxcolumn={hideCheckboxColumn}
                        tableloadingstate={tableLoadingState}></c-datatable>
                    </lightning-tab>
                </template>
            </lightning-tabset>
        </template>-->
        <template if:true={isMarketingJourney}>
            <lightning-tabset>
                <lightning-tab label="Marketing Journey" onactive={handleActiveOpenButton}>
                    <lightning-record-view-form object-api-name={objectApiName} record-id={taskId}>
                        <lightning-layout multiple-rows>
                            <template for:each={fields} for:item="field">
                                <lightning-layout-item key={field.name} size="6" medium-device-size="6" padding="around-small">
                                    
                                    <template if:true={field.hasCampaign}>
                                        <div>
                                            <label class="label inputLabel uiLabel-left form-element__label uiLabel">
                                                <span class="">{field.label}</span>
                                            </label>
                                        </div>
                                        <a href={campaignUrl} target="__blank">{campaignValue}</a>
                                    </template>
                                    <template if:true={field.hasMarketingPlan}>
                                        <div>
                                            <label class="label inputLabel uiLabel-left form-element__label uiLabel">
                                                <span class="">{field.label}</span>
                                            </label>
                                        </div>
                                        <a href={marketingPlanUrl} target="__blank">{marketingPlan}</a>
                                    </template>
                                    <template if:false={field.hasReference}>
                                        <lightning-output-field field-name={field.name}></lightning-output-field>
                                    </template>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>
                    </lightning-record-view-form>
                </lightning-tab>
                <lightning-tab label={otherobjectapiname} onactive={handleActive}>
                    <lightning-record-view-form object-api-name={otherobjectapiname} record-id={taskIdCampaign}>
                        <lightning-layout multiple-rows>
                            <template for:each={fieldsCampaign} for:item="field">
                                <lightning-layout-item key={field.name} size="6" medium-device-size="6" padding="around-small">
                                    <template if:true={field.hasCampaign}>
                                        <div>
                                            <label class="label inputLabel uiLabel-left form-element__label uiLabel">
                                                <span class="">{field.label}</span>
                                            </label>
                                        </div>
                                        <a href={campaignUrl} target="__blank">{campaignValue}</a>
                                    </template>
                                    <template if:true={field.hasMarketingPlan}>
                                        <div>
                                            <label class="label inputLabel uiLabel-left form-element__label uiLabel">
                                                <span class="">{field.label}</span>
                                            </label>
                                        </div>
                                        <a href={marketingPlanUrl} target="__blank">{marketingPlan}</a>
                                    </template>
                                    <template if:false={field.hasReference}>
                                        <lightning-output-field field-name={field.name}></lightning-output-field>
                                    </template>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>
                    </lightning-record-view-form>
                </lightning-tab>
                <template if:true={financeAllocation}>
                    <lightning-tab label="Allocation" onactive={handleActiveAllocation}>
                        <c-datatable records={data} columns={columns} hidecheckboxcolumn={hideCheckboxColumn}
                        tableloadingstate={tableLoadingState}></c-datatable>
                    </lightning-tab>
                </template>
            </lightning-tabset>
        </template>
        <!--Bayer Start-->
        <template if:true={isMarketingActivity}>
            <lightning-tabset>
                <lightning-tab label="Marketing Activity" onactive={handleActiveOpenButton}>
                    <lightning-record-view-form object-api-name={objectApiName} record-id={taskId}>
                        <lightning-layout multiple-rows>
                            <template for:each={fields} for:item="field">
                                <lightning-layout-item key={field.name} size="6" medium-device-size="6" padding="around-small">
                                    <template if:true={field.hasCampaign}>
                                        <div>
                                            <label class="label inputLabel uiLabel-left form-element__label uiLabel">
                                                <span class="">{field.label}</span>
                                            </label>
                                        </div>
                                        <a href={campaignUrl} target="__blank">{campaignValue}</a>
                                    </template>
                                    <template if:true={field.hasMarketingPlan}>
                                        <div>
                                            <label class="label inputLabel uiLabel-left form-element__label uiLabel">
                                                <span class="">{field.label}</span>
                                            </label>
                                        </div>
                                        <a href={marketingPlanUrl} target="__blank">{marketingPlan}</a>
                                    </template>
                                    <template if:false={field.hasReference}>
                                        <lightning-output-field field-name={field.name}></lightning-output-field>
                                    </template>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>
                    </lightning-record-view-form>
                </lightning-tab>
                <lightning-tab label={otherobjectapiname} onactive={handleActive}>
                    <lightning-record-view-form object-api-name={otherobjectapiname} record-id={taskIdCampaign}>
                        <lightning-layout multiple-rows>
                            <template for:each={fieldsCampaign} for:item="field">
                                <lightning-layout-item key={field.name} size="6" medium-device-size="6" padding="around-small">
                                    <template if:true={field.hasCampaign}>
                                        <div>
                                            <label class="label inputLabel uiLabel-left form-element__label uiLabel">
                                                <span class="">{field.label}</span>
                                            </label>
                                        </div>
                                        <a href={campaignUrl} target="__blank">{campaignValue}</a>
                                    </template>
                                    <template if:true={field.hasMarketingPlan}>
                                        <div>
                                            <label class="label inputLabel uiLabel-left form-element__label uiLabel">
                                                <span class="">{field.label}</span>
                                            </label>
                                        </div>
                                        <a href={marketingPlanUrl} target="__blank">{marketingPlan}</a>
                                    </template>
                                    <template if:false={field.hasReference}>
                                        <lightning-output-field field-name={field.name}></lightning-output-field>
                                    </template>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>
                    </lightning-record-view-form>
                </lightning-tab>
                <template if:true={financeAllocation}>
                    <lightning-tab label="Allocation" onactive={handleActiveAllocation}>
                        <c-datatable records={data} columns={columns} hidecheckboxcolumn={hideCheckboxColumn}
                        tableloadingstate={tableLoadingState}></c-datatable>
                    </lightning-tab>
                </template>
            </lightning-tabset>
        </template>
        <!--Bayer End-->
        <div slot="footer">
            <lightning-button label={label.cancel} variant="neutral" onclick={handleCancelModal} class="slds-button">
            </lightning-button>
            <lightning-button label={label.btnOpenInMC} variant="brand" onclick={handleNavigateToMarketingCloud}
            class="slds-button" if:true={mcUrl}></lightning-button>
            <template if:false={hasOpenButton}>
                <lightning-button label={label.open} variant="brand" onclick={handleOpen} class="slds-button">
                </lightning-button>
            </template>
        </div>
    </c-modal>
    <c-toast></c-toast>
</template>