.scale_cell_class{
    line-height: 17px;
}
.gantt_link_control { display: none; }

.gantt_marketingplan{
    background: url(/resource/musqotmp__GanttTree_MarketingPlan);
}
.gantt_campaign{
    background: url(/resource/musqotmp__GanttTree_Campaign);
}
.gantt_marketingactivity{
    background: url(/resource/musqotmp__GanttTree_MarketingActivity);
}
.gantt_marketingjourney{
    background: url(/resource/musqotmp__GanttTree_MarketingJourney);
}
.gantt_tree_icon {
    background-repeat: no-repeat;
    background-position: center center;
}
.gantt_expandfullscreen{
    background: url(/resource/musqotmp__Gantt_Expand);
}
.gantt_collapsefullscreen{
    background: url(/resource/musqotmp__Gantt_Collapse);
}
.gantt_task_content .campaign{
    line-height:1;
    padding-top: 2px;
}
.gantt_task_content{
    line-height:1;
    padding-top: 1px;
}
.gantt_grid_data .gantt_row.odd:hover,.gantt_grid_data .gantt_row:hover {
    background-color: #CCF2FF
}
.gantt_grid_data .gantt_row.gantt_selected,.gantt_grid_data .gantt_row.odd.gantt_selected,.gantt_task_row.gantt_selected {
    background-color: #CCF2FF
}
.gantt_task_row.gantt_selected .gantt_task_cell {
    border-right-color: #c3e9f7;
}
.gantt {
    height: 100%;
}
.gantt_parent_div_height {
    height: -moz-calc(100% - 150px);
    height: -webkit-calc(100% - 150px);
    height: calc(100% - 150px);
}
.slds-modal__container {
    max-width: 80rem !important;
    width: 80% !important;
}