<template>
    <div class="slds-card slds-card_boundary related_list_card_border_top forceRelatedListCardDesktop">
        <div class="related_list_themed_border_top">
            <lightning-card if:true={header}>
                <div class="slds-grid slds-page-header forceRelatedListCardHeader">
                    <header class="slds-media slds-media--center slds-has-flexi-truncate">
                        <div class="slds-media__figure stencil slds-avatar slds-avatar_small">
                            <div class="extraSmall forceEntityIcon" style={getContributorIconColor}>
                                <span class="uiImage">
                                    <img src={contributorObjectInfo.themeInfo.iconUrl} class="icon "
                                        alt={contributorObjectInfo.label} title={contributorObjectInfo.label}>
                                </span>
                            </div>
                        </div>
                        <div class="slds-media__body">
                            <h2 class="slds-card__header-title">
                                <a class="slds-card__header-link baseCard__header-title-container">
                                    <span class="slds-truncate slds-m-right--xx-small"
                                        title={contributorObjectInfo.label}>{contributorObjectInfo.label}</span>
                                    <span class="slds-shrink-none slds-m-right--xx-small"
                                        title={data.length}>({data.length})</span>
                                </a>
                            </h2>
                        </div>
                        <div class="slds-page-header__control">
                            <ul class="slds-button-group-list">
                                <template if:true={showNew}>
                                    <li>
                                        <lightning-button label={label.btn_group_message} onclick={handleSave}
                                            style="margin-right: 5px;">
                                        </lightning-button>
                                    </li>
                                    <li>
                                        <lightning-button label={label.btn_New} onclick={handleNew}></lightning-button>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </header>
                </div>
                <c-datatable records={data} rowoffset={rowOffset} columns={columns} selectedrows={selectedRows}
                    sortedby={sortedBy} sorteddirection={sortedDirection} hidecheckboxcolumn={hideCheckboxColumn}
                    showrownumbercolumn={showRowNumberColumn} tableloadingstate={tableLoadingState}
                    onselect={handleSelect} onrowselect={handleSelectedRows} oncolumnsort={handleColumnSort}>
                </c-datatable>
            </lightning-card>
        </div>
    </div>
    <div class="slds-hide">
        <lightning-record-form record-id="" object-api-name={objectApiName} columns="2" layout-type="Full" mode="edit"
            onload={onLoad}>
        </lightning-record-form>
    </div>
    <c-record-form-modal sectioncssclass={sectionCssClass} header={header}>
        <lightning-accordion allow-multiple-sections-open active-section-name={activeAccordionSections}>
            <lightning-record-edit-form object-api-name={objectApiName} record-id={recordFormId} onsuccess={onSuccess}
                onsubmit={handleSubmit}>
                <template for:each={typeLayoutSections} for:item="layoutSection">
                    <lightning-accordion-section key={layoutSection.id} name={layoutSection.id}
                        label={layoutSection.heading}>
                        <template for:each={layoutSection.layoutRows} for:item="layoutRow">
                            <lightning-layout key={layoutRow} multiple-rows>
                                <template for:each={layoutRow.layoutItems} for:item="layoutItem">
                                    <template for:each={layoutItem.layoutComponents} for:item="layoutComponent">
                                        <lightning-layout-item key={layoutComponent.apiName} size="6"
                                            medium-device-size="6" padding="around-small">
                                            <lightning-input-field field-name={layoutComponent.apiName}
                                                value={layoutComponent.value} data-field={layoutComponent.apiName}
                                                onchange={handleFormChange}>
                                            </lightning-input-field>
                                        </lightning-layout-item>
                                    </template>
                                </template>
                            </lightning-layout>
                        </template>
                    </lightning-accordion-section>
                </template>
                <lightning-button label={label.btn_save} variant="brand" type="submit" class="slds-float_right"
                    disabled={hasDisabled}>
                </lightning-button>
                <lightning-button label={label.btn_cancel} variant="neutral" onclick={CancelModal}
                    class="slds-float_right" style="margin-right: 5px;">
                </lightning-button>
            </lightning-record-edit-form>
        </lightning-accordion>
    </c-record-form-modal>
    <c-modal header={header} sectioncssclass={sectioncssclass}>{content}
        <div slot="footer">
            <lightning-button label={label.btn_cancel} variant="neutral" onclick={handleCancelModal}
                style="margin-right: 5px;"></lightning-button>
            <lightning-button label={label.btn_Delete} variant="brand" onclick={handleDelete}>
            </lightning-button>
        </div>
    </c-modal>
    <c-toast></c-toast>
    <template if:true={isGroupMessage}>
        <c-email onisgroupmessage={hanldeIsgroupmessageChange} record-id={recordId}>
        </c-email>
    </template>
</template>