lightning-button.addAssupmtionButton>:last-child {
    width: 360px;
}
lightning-button button {
  width: 55px;
  height: 24px;
  margin: 0 16px 0 197px;
  padding: 2px 16px;
  border-radius: 4px;
  box-shadow: 0 4px 24px -8px rgb(125 112 188 / 20%);
  border: solid 1px rgba(0, 53, 185, 0.15);
  background-color: #ffffff;
}