<template>
    <div class="slds-hide">
        <lightning-record-form
            record-id=""
            object-api-name="musqotmp__CampaignOptimizer__c"
            columns="2"
            layout-type="Full"
            mode="view"
            onload={onLoad}>
        </lightning-record-form>
    </div>
    <lightning-accordion allow-multiple-sections-open active-section-name={activeAccordionSections}>
        <lightning-record-view-form
            object-api-name="musqotmp__CampaignOptimizer__c"
            record-id={recordId}>
            <template for:each={layoutSections} for:item="layoutSection">
                <lightning-accordion-section key={layoutSection.id} name={layoutSection.id} label={layoutSection.heading}>
                    <lightning-layout multiple-rows>
                        <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                            <lightning-output-field field-name="Name"></lightning-output-field>
                        </lightning-layout-item>
                        <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                            <lightning-slider disabled data-field="AcquisitionRetention" label= {label.frm_Acquisition_Retention} value={acquisitionRetention}></lightning-slider>
                        </lightning-layout-item>
                        <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                            <lightning-output-field field-name="musqotmp__MarketingPlan__c"></lightning-output-field>
                        </lightning-layout-item>
                        <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                            <lightning-slider disabled data-field="MoreDealsBiggerDeals" label= {label.frm_More_Bigger_Deals} value={moreDealsBiggerDeals}></lightning-slider>
                        </lightning-layout-item>
                        <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                            <lightning-output-field field-name="musqotmp__FiscalYear__c"></lightning-output-field>
                        </lightning-layout-item>
                        <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                            <lightning-slider disabled data-field="RevenueCashflow" label= {label.frm_Revenue_cashflow} value={revenueCashflow}></lightning-slider>
                        </lightning-layout-item>
                        <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                            <lightning-output-field field-name="musqotmp__Period__c"></lightning-output-field>
                        </lightning-layout-item>
                    </lightning-layout>
                </lightning-accordion-section>
            </template>
        </lightning-record-view-form>
    </lightning-accordion>
</template>