.scale_cell_class {
	line-height: 17px;
}
.gantt_link_control { display: none; }

.gantt_campaign {
	background: url(/resource/musqotmp__GanttTree_Campaign);
}
.gantt_marketingactivity {
	background: url(/resource/musqotmp__GanttTree_MarketingActivity);
}
.gantt_marketingjourney {
	background: url(/resource/musqotmp__GanttTree_MarketingJourney);
}
.gantt_tree_icon {
	background-repeat: no-repeat;
	background-position: center center;
}
.gantt_expandfullscreen {
	background: url(/resource/musqotmp__Gantt_Expand);
}
.gantt_collapsefullscreen {
	background: url(/resource/musqotmp__Gantt_Collapse);
}
.gantt_task_content .campaign {
	line-height: 1;
	padding-top: 2px;
}
.gantt_task_content{
	padding-top: 1px;
}
.gantt_grid_data .gantt_row.odd:hover,
.gantt_grid_data .gantt_row:hover {
	background-color: #ccf2ff;
}
.gantt_grid_data .gantt_row.gantt_selected,
.gantt_grid_data .gantt_row.odd.gantt_selected,
.gantt_task_row.gantt_selected {
	background-color: #ccf2ff;
}
.gantt_task_row.gantt_selected .gantt_task_cell {
	border-right-color: #c3e9f7;
}
.display-flex {
	display: flex;
}
.item {
	margin: .5rem;
}
.icon-image {
	height: 2.25rem;
	width: 2.25rem;
	border-radius: .125rem;
}
.icon-image img {
	height: 2.25rem;
	width: 2.25rem;
	padding: 6px;
}
.dragArea {
	padding: 0;
	overflow: hidden;
	width: auto;
	margin-right: 15px;
}
.inner-card-around {
	padding: 0px 8px 0px 8px;
}
.slds-is-active .inner-card-type:focus {
	border-left-width: .5rem;
	color: rgb(0, 95, 178);
}
.slds-is-active .inner-card-type {
	background-color: rgba(0, 112, 210, 0.1);
	border-color: rgb(221, 219, 218) rgb(221, 219, 218) rgb(221, 219, 218) rgb(0, 112, 210);
	border-left-width: .25rem;
}
.inner-card-type-tile-figure {
	padding: 0;
}
.c-container {
	margin: 8px;
}
.typeTileTitle {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgb(107, 109, 112);
	display: block;
	text-align: left;
	max-width: 180px;
}
.typeDescription {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.gantt {
	height: 100%;
}
.gantt_parent_div_height {
	height: -moz-calc(100% - 270px);
	height: -webkit-calc(100% - 270px);
	height: calc(100% - 270px);
}
.gantt_grid_head_cell {
	text-align: left !important;
	padding: 0px 6px;
}
.slds-icon_container {
	margin-right: 15px;
}
.slds-icon-standard-marketing-actions {
	background-color: rgb(147, 15, 165);
}
.items_workspace .slds-medium-size_6-of-12 {
	padding: 0px;
}

.vertical_nav {
	position: relative !important;
}

div input[readonly] {
	padding-left: 0.75rem !important;
}
.slds-input {
	padding-left: 0.75rem !important;
}

.slds-input-has-icon .slds-input__icon {
	top: 56% !important;
}
.slds-icon_small,
.slds-icon--small {
	width: 1.5rem;
	height: 1.5rem;
	line-height: 2;
}
.chartWrapper {
	position: relative;
	margin-left: 1px;
}

.chartWrapper > canvas {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
}

.chartAreaWrapper {
	overflow-x: scroll;
}
.chart-legend ul li span {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 0px;
	color: white;
	text-align: center;
	font-style: oblique;
	font-weight: 900;
	line-height: 17px;
	cursor: pointer !important;
}
.chart-legend ul li span:before {
  content: "i";
}

.chart-legend {
	height: 200px;
	overflow: auto;
	max-height: 190px;
}

[class$="-legend"] li {
	cursor: pointer;
}
[class$="-legend"] li span {
	margin-right: 5px;
}
[class$="-chart-legent-cnt"] ul {
	padding-top: 0px;
  padding-bottom: 10px;
}
[class$="-legend"] li.hidden {
	text-decoration: line-through !important;
}

.strike {
	text-decoration: line-through !important;
}

.float-left {
	float: left;
}
::-webkit-scrollbar {
	height: 10px;
	width: 0px; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background: darkslateblue;
	height: 1px;
}
.gantt_layout_cell .gantt_hor_scroll {
	overflow: hidden;
}
.custom-chart-legent-cnt {
	padding: 5px;
}
.legend-tooltip {
	position: fixed;
	cursor: pointer;
	opacity: 1;
  background: rgba(0, 0, 0, .7);
  color: white;
  border-radius: 5px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	padding: 5px;
}
.padding-left-25px{
	padding-left: 25px;
}
.margin-left-10px{
	margin-left: 10px;
}
.weekend {
	background: #f4f7f4;
}

.gantt_selected .weekend {
	background: #f7eb91;
}

.holiday{
	background: red;
}
.changeBackgroud{
	background-color: green;
}
.slds-modal .font-size-8px{
	font-size: 8px !important;
}
.slds-modal .table-layout{
	table-layout: fixed;
}
.square {
  height: 20px;
  width: 20px;
  display:inline-block;
  margin-left:10px
}
 .outputLookupLink{
	pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}
.slds-col.slds-size_1-of-2 {
    padding: 10px !important;
}