<template>
  <div class="changeBackgroud hidden"></div>
  <div style="width:100%; position:absolute;" class="gantt_parent_div_height" onmouseover={setClassNameOnHover}>

    <div lwc:dom="manual" id="gantt" class="gantt"></div>
    <div class="chartWrapper" if:true={showChart}>
      <div class="float-left" style={legentStyle}>
        <div id="js-legend" class="chart-legend" lwc:dom="manual"></div>
        <div if:true={showScatterButton}>
          <lightning-icon icon-name="standard:lightning_usage" size="x-small" alternative-text="Correlation"
            title="Correlation" style="top: 5px; position: absolute; left: 198px;" onclick={handleScatterChart}>
          </lightning-icon>
        </div>
        <div class="legend-tooltip" lwc:dom="manual" style="display: none;"></div>
      </div>
      <canvas class="yaxis-chart" height={yAxisHeight} width="0" style={yaxisStyle}></canvas>
      <div class="chartAreaWrapper " style={chartWidthStyle} onscroll={handleChartScroll}>
        <canvas class="performance-chart" height={chartHeight} width={chartWidth} lwc:dom="manual"
          style={chartStyle}></canvas>
      </div>
    </div>

  </div>
  <c-modal header={header} sectioncssclass={sectioncssclass}>
    <template if:true={isMarketingActivity}>
      <lightning-tabset>
        <lightning-tab label="Marketing Activity" onactive={handleActiveOpenButton}>
          <lightning-record-edit-form object-api-name={objectApiName} record-id={taskId}>
            <div class="slds-grid slds-wrap">
              <template for:each={fields} for:item="field">
                <div class="slds-col slds-size_1-of-2" key={field} onclick={openNewTab}>
                  <div if:true={field.isReference}>
                    <a  onclick={navigateToCampaignInNewTab}>
                      <lightning-output-field field-name={field.name} class="outputLookupLink">
                      </lightning-output-field></a>
                  </div>
                  <div if:false={field.isReference}>
                    <lightning-output-field field-name={field.name} >
                    </lightning-output-field>
                  </div>
                </div>
              </template>
            </div>
          </lightning-record-edit-form>
        </lightning-tab>
        <lightning-tab label={otherobjectapiname} onactive={handleActive}>
          <lightning-record-edit-form object-api-name={otherobjectapiname} record-id={taskIdCampaign}>
            <div class="slds-grid slds-wrap">
              <template for:each={fieldsCampaign} for:item="field">
                <div class="slds-col slds-size_1-of-2" key={field} onclick={openNewTab}>
                  <div if:true={field.isReference}>
                    <a onclick={navigateToPlanInNewTab}>
                      <lightning-output-field field-name={field.name} class="outputLookupLink" >
                      </lightning-output-field>
                    </a>
                  </div>
                  <div if:false={field.isReference}>
                    <lightning-output-field field-name={field.name}>
                    </lightning-output-field>
                  </div>
                </div>
              </template>
            </div>
            </lightning-record-edit-form>
        </lightning-tab>
        <template if:true={financeAllocation}>
          <lightning-tab label="Allocation" onactive={handleActiveAllocation}>
            <c-datatable records={data} columns={columns} hidecheckboxcolumn={hideCheckboxColumn}
              tableloadingstate={tableLoadingState}></c-datatable>
          </lightning-tab>
        </template>
      </lightning-tabset>
    </template>
    <template if:true={isMarketingJourney}>
      <lightning-tabset>
        <lightning-tab label="Marketing Journey" onactive={handleActiveOpenButton}>
          <c-record-view-form objectapiname={objectApiName} recordid={taskId}>
            <div class="slds-grid slds-wrap">
              <template for:each={fields} for:item="field">
                <div class="slds-col slds-size_1-of-2" key={field} onclick={openNewTab}>
                  <div if:true={field.isReference}>
                    <a onclick={navigateToCampaignInNewTab}>
                      <lightning-output-field field-name={field.name} class="outputLookupLink">
                      </lightning-output-field>
                    </a>
                  </div>
                  <div if:false={field.isReference}>
                    <lightning-output-field field-name={field.name}>
                    </lightning-output-field>
                  </div>
                </div>
              </template>
            </div>
          </c-record-view-form>
        </lightning-tab>
        <lightning-tab label={otherobjectapiname} onactive={handleActive}>
          <c-record-view-form objectapiname={otherobjectapiname} fields={fieldsCampaign} recordid={taskIdCampaign}>
          </c-record-view-form>
        </lightning-tab>
        <template if:true={financeAllocation}>
          <lightning-tab label="Allocation" onactive={handleActiveAllocation}>
            <c-datatable records={data} columns={columns} hidecheckboxcolumn={hideCheckboxColumn}
              tableloadingstate={tableLoadingState}></c-datatable>
          </lightning-tab>
        </template>
      </lightning-tabset>
    </template>
    <div slot="footer">
      <lightning-button label={label.cancel} variant="neutral" onclick={handleCancelModal} class="slds-button">
      </lightning-button>
      <lightning-button label={label.btnOpenInMC} variant="brand" onclick={handleNavigateToMarketingCloud}
        class="slds-button" if:true={mcUrl}></lightning-button>
      <template if:false={hasOpenButton}>
        <lightning-button label={label.open} variant="brand" onclick={handleOpen} class="slds-button">
        </lightning-button>
      </template>
    </div>
  </c-modal>

  <template if:true={isScatter}>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
      aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_large
    ">
      <div class="slds-modal__container">
        <header class="slds-modal__header">
          <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
            onclick={hideScatterModal}>
            <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
            </lightning-icon>
            <span class="slds-assistive-text">Close</span>
          </button>
          <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
            {label.msgCorrelation}
          </h2>
          <p class="slds-m-top_x-small">{fromDate} — {toDate}</p>
        </header>
        <!-- modal body start -->
        <!-- <lightning-record-view-form> -->
        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
          <!-- <lightning-tabset> -->
          <!-- <lightning-tab label="Detail"> -->
          <!-- <lightning-accordion allow-multiple-sections-open active-section-name={activeAccordionSections}> -->
          <!-- <lightning-accordion-section name="information" label="Information"> -->
          <div
            class="slds-p-around_none slds-m-top_x-small slds-m-bottom_medium slds-m-horizontal_none dynamic-canvas-cnt">

            <!--<canvas id="canvas" width="1013" height="300" class="chartjs-render-monitor" lwc:dom="manual"></canvas>-->
          </div>
          <!-- </lightning-accordion-section> -->
          <!-- </lightning-accordion> -->
          <!-- </lightning-tab> -->
          <!-- </lightning-tabset> -->
        </div>
        <!-- modal footer start-->
        <footer class="slds-modal__footer">

        </footer>
        <!-- </lightning-record-view-form> -->
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  </template>
  <c-toast></c-toast>
</template>