<template>
  <div if:true={authenticated}>
  <div class="slds-page-header slds-page-header_related-list">
    <div class="slds-page-header__row">
      <div class="slds-page-header__col-title">
        <div class="slds-media">
          <div class="slds-media__body">
            <div class="slds-page-header__name">
              <div class="slds-page-header__name-title">
                <h1>
                  <span class="slds-page-header__title slds-truncate" title="Contacts (will truncate)">Key Insight
                    DashBoard</span>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slds-page-header__col-actions">
        <div class="slds-page-header__controls">
          <div class="slds-page-header__control">
            <ul class="slds-button-group-list">
              <li>
                <!--<button class="slds-button slds-button_neutral">New</button>-->
              </li>
              <!--<li>
                <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
                  <button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true"
                    title="More Actions">
                    <svg class="slds-button__icon" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                    </svg>
                    <span class="slds-assistive-text">More Actions</span>
                  </button>
                </div>
              </li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-page-header__row">
      <div class="slds-page-header__col-meta">
        <p class="slds-page-header__meta-text">{totalRecordTitle}</p>
      </div>
      <!--<div class="slds-page-header__col-controls">
        <div class="slds-page-header__controls">
          <div class="slds-page-header__control">
            <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
              <button class="slds-button slds-button_icon slds-button_icon-more" aria-haspopup="true" title="Change view">
                <svg class="slds-button__icon" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#table"></use>
                </svg>
                <svg class="slds-button__icon slds-button__icon_x-small" aria-hidden="true">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                </svg>
                <span class="slds-assistive-text">Change view</span>
              </button>
            </div>
          </div>
          <div class="slds-page-header__control">
            <ul class="slds-button-group-list">
              <li>
                <button class="slds-button slds-button_icon slds-button_icon-border" title="Chart">
                  <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chart"></use>
                  </svg>
                  <span class="slds-assistive-text">Chart</span>
                </button>
              </li>
              <li>
                <button class="slds-button slds-button_icon slds-button_icon-border" title="Filter List">
                  <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#filterList"></use>
                  </svg>
                  <span class="slds-assistive-text">Filter List</span>
                </button>
              </li>
              <li>
                <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
                  <button class="slds-button slds-button_icon slds-button_icon-more" aria-haspopup="true"
                    title="Sort List">
                    <svg class="slds-button__icon" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#sort"></use>
                    </svg>
                    <svg class="slds-button__icon slds-button__icon_x-small" aria-hidden="true">
                      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
                    </svg>
                    <span class="slds-assistive-text">Sort List</span>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>-->
    </div>
  </div>
  <div class="slds-card slds-card_boundary related_list_card_border_top forceRelatedListCardDesktop">
    <div class="related_list_themed_border_top">
      <c-datatable records={data} rowoffset={rowOffset} columns={columns} selectedrows={selectedRows} sortedby={sortBy}
        sorteddirection={sortDirection} hidecheckboxcolumn={hideCheckboxColumn}
        showrownumbercolumn={showRowNumberColumn} tableloadingstate={tableLoadingState} onselect={handleSelect}
        onrowselect={handleSelectedRows} oncolumnsort={handleColumnSort}>
      </c-datatable>
    </div>
  </div>
  </div>
  <div if:false={authenticated}>
    <p>Server Error</p>
  </div>
  <c-toast></c-toast>
  <div class="spinner">
      <template if:false={isLoading}>
           <lightning-spinner alternative-text="Loading" variant="brand">
           </lightning-spinner>
      </template>
  </div>
</template>