<template>
	<template if:true={showModal}>
		<div class="slds-hide" if:true={wireObjectInfo}>
			<lightning-record-edit-form object-api-name={wireObjectInfo.apiName} onload={onEditFormLoad}
				record-type-id={wireObjectInfo.defaultRecordTypeId}>
			</lightning-record-edit-form>
		</div>
		<section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small"
			aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
			<div class="slds-modal__container">
				<header class="slds-modal__header">
					<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
						onclick={closeModal}>
						<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small">
						</lightning-icon>
						<span class="slds-assistive-text">Close</span>
					</button>
					<h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{modalTitle}</h2>
				</header>
				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
					<template if:true={showForm}>
							<lightning-accordion allow-multiple-sections-open="true" active-section-name={activeAccordionSections}>
								<lightning-record-edit-form object-api-name={wireObjectInfo.apiName} record-id={recordId} onerror={handleError}
									onsuccess={handleSuccess} onsubmit={handleSubmit} record-type-id={wireObjectInfo.defaultRecordTypeId} class="dataVariableForm">
									
									<template for:each={typeLayoutSections} for:item="layoutSection">
										<lightning-accordion-section key={layoutSection.id} name={layoutSection.id}
											label={layoutSection.heading}>
											<template for:each={layoutSection.layoutRows} for:item="layoutRow">
												<lightning-layout key={layoutRow} multiple-rows>
													<template for:each={layoutRow.layoutItems} for:item="layoutItem">
														<template for:each={layoutItem.layoutComponents} for:item="layoutComponent">
															<lightning-layout-item key={layoutComponent.apiName} size="6" medium-device-size="6"
																padding="around-small">
																<template if:true={layoutComponent.musqotmp__BarColor__c}>
																	
																	<lightning-input type="color" name="musqotmp__BarColor__c" label={layoutComponent.label}  value={barColor} onchange={handleChangedBarColor} message-when-bad-input=''></lightning-input>

																	<lightning-input-field field-name={layoutComponent.apiName}
																		value={barColors} options={layoutComponent.options}
																		required={layoutItem.required} class={layoutComponent.class}
																		variant='label-hidden' onchange={handleChangedBarColorInput}
																		>
																	</lightning-input-field>
																	<div class="colors-cnt" style="padding-top: 2px;"></div>
																</template>
																<template if:false={layoutComponent.musqotmp__BarColor__c}>
																	<lightning-input-field field-name={layoutComponent.apiName}
																		value={layoutComponent.value} options={layoutComponent.options}
																		required={layoutItem.required} class={layoutComponent.class}
																		disabled={layoutComponent.disabled}>
																	</lightning-input-field>
																</template>
															</lightning-layout-item>
														
														</template>
													</template>
												</lightning-layout>
											</template>
										</lightning-accordion-section>
									</template>
									<lightning-button label="Save" variant="brand" type="submit"
										class="slds-float_right slds-hide saverecord" onclick={handleSubmit}>
									</lightning-button>
								</lightning-record-edit-form>
							</lightning-accordion>
					</template>

				</div>
				<footer class="modal-footer slds-modal__footer">
					<lightning-button-group>
						<lightning-button label="Cancel" onclick={closeModal} class="slds-m-left_x-small">
						</lightning-button>
						<lightning-button label="Save & New" onclick={onHandleSaveNew} class="slds-m-left_x-small"></lightning-button>
						<lightning-button label="Save" type="submit" onclick={onHandleSave} variant="brand"
							class="slds-m-left_x-small"></lightning-button>
					</lightning-button-group>
				</footer>
			</div>
		</section>
	</template>
</template>