<template>
    <div class="slds-hide">
        <lightning-record-form
            record-id=""
            object-api-name={objectApiName}
            columns="2"
            layout-type="Full"
            mode="edit"
            onload={onLoad}>
        </lightning-record-form>
    </div>
    <c-record-form-modal sectioncssclass={sectioncssclass} header={header}>
        <lightning-accordion allow-multiple-sections-open active-section-name={activeAccordionSections}>
            <lightning-record-edit-form
                object-api-name={objectApiName}
                record-id={recordId}
                onsuccess={onSuccess}>
                <template for:each={layoutSections} for:item="layoutSection">
                    <lightning-accordion-section key={layoutSection.id} name={layoutSection.id} label={layoutSection.heading}>
                        <lightning-layout multiple-rows>
                            <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                <lightning-input-field field-name="Name" required></lightning-input-field>
                            </lightning-layout-item>
                            <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                <lightning-slider data-field="AcquisitionRetention" label= {label.frm_Acquisition_Retention} value={acquisitionRetention}></lightning-slider>
                            </lightning-layout-item>
                            <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                <lightning-input-field field-name="musqotmp__Description__c"></lightning-input-field>
                            </lightning-layout-item>
                            <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                <lightning-slider data-field="MoreDealsBiggerDeals" label= {label.frm_More_Bigger_Deals} value={moreDealsBiggerDeals}></lightning-slider>
                            </lightning-layout-item>
                            <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                <lightning-input-field field-name="musqotmp__Campaign__c" required></lightning-input-field>
                            </lightning-layout-item>
                            <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                <lightning-slider data-field="RevenueCashflow" label= {label.frm_Revenue_cashflow} value={revenueCashflow}></lightning-slider>
                            </lightning-layout-item>
                            <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                <lightning-input-field field-name="musqotmp__Revenue__c"></lightning-input-field>
                            </lightning-layout-item>
                            <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                <lightning-input-field field-name="musqotmp__Retention__c"></lightning-input-field>
                            </lightning-layout-item>
                            <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                <lightning-input-field field-name="musqotmp__Awareness__c"></lightning-input-field>
                            </lightning-layout-item>
                            <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                <lightning-input-field field-name="musqotmp__Acquisition__c"></lightning-input-field>
                            </lightning-layout-item>
                            <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                            </lightning-layout-item>
                            <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                <lightning-input-field field-name="musqotmp__Active__c"></lightning-input-field>
                            </lightning-layout-item>
                        </lightning-layout>
                    </lightning-accordion-section>
                </template>
                <lightning-button
                    label= {label.btn_save}
                    variant="brand"
                    type="submit"
                    class="slds-float_right"
                ></lightning-button>
            </lightning-record-edit-form>
        </lightning-accordion>
    </c-record-form-modal>
    <c-toast></c-toast>
</template>