<template>
    <template if:true={showModal}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium"
            aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon class="slds-modal__close" title="Close" icon-name="utility:close"
                        icon-class="slds-button_icon-inverse" onclick={handleDialogClose}></lightning-button-icon>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">New Camapign</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <lightning-record-edit-form object-api-name={objectApiName} record-id={recordId}
                        onsubmit={handleSubmit} onsuccess={onSuccess}>
                        <lightning-messages></lightning-messages>
                        <lightning-layout multiple-rows>
                            <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                <lightning-input-field field-name="Name"></lightning-input-field>
                            </lightning-layout-item>
                            <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                <lightning-input-field field-name="StartDate" required></lightning-input-field>
                            </lightning-layout-item>
                            <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                <lightning-input-field field-name="EndDate" required></lightning-input-field>
                            </lightning-layout-item>
                            <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                <lightning-input-field field-name="musqotmp__MarketingPlan__c" required
                                    onchange={handleInputForm}></lightning-input-field>
                            </lightning-layout-item>
                            <lightning-layout-item size="6" medium-device-size="6" padding="around-small">
                                <lightning-combobox name="Campaign" label="Campaign" value={value}
                                    placeholder="Select a Campaign" options={campaignOptions} onchange={handleChange}>
                                </lightning-combobox>
                            </lightning-layout-item>
                        </lightning-layout>
                        <template if:true={parent}>
                            <lightning-button label={label.btn_clone} variant="brand" type="submit"
                                class="slds-button slds-float_right"></lightning-button>
                        </template>
                        <div style={buttonCss}>
                            <lightning-button label={label.btn_cancel} variant="neutral"
                                class="slds-button slds-float_right " onclick={handleDialogClose}></lightning-button>
                        </div>
                    </lightning-record-edit-form>
                </div>
            </div>
        </section>
    </template>
    <c-toast></c-toast>
</template>