<template>
	<div class="slds-card slds-card_boundary related_list_card_border_top forceRelatedListCardDesktop">
		<div class="related_list_themed_border_top"></div>
		<lightning-card icon-name="standard:campaign">
			<h2 slot="title"><b>{objectTypeLabel}</b></h2>
			<div slot="actions" class="display_flex">
				<lightning-input type="search" placeholder="Search" variant="label-hidden"
					onchange={handleSearchKeyChange} class="slds-m-bottom_small slds-hide" label={label.hl_Search}
					value={searchKey}></lightning-input>
				<template if:true={showNew}>
					<lightning-button label={label.btn_New} onclick={handleNew}></lightning-button>
				</template>
			</div>
			<c-datatable records={data} rowoffset={rowOffset} columns={columns} selectedrows={selectedRows}
				sortedby={sortedBy} sorteddirection={sortedDirection} hidecheckboxcolumn={hideCheckboxColumn}
				showrownumbercolumn={showRowNumberColumn} tableloadingstate={tableLoadingState} onselect={handleSelect}
				onrowselect={handleSelectedRows} oncolumnsort={handleColumnSort}></c-datatable>
		</lightning-card>
	</div>
	<template if:true={isSelectRecordType}>
		<div class="email-only" style="height: 640px;">
			<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
				aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
				<div class="slds-modal__container">
					<header class="slds-modal__header">
						<lightning-button-icon class="slds-modal__close" title="Close" icon-name="utility:close"
							icon-class="slds-button_icon-inverse" onclick={closeModal}></lightning-button-icon>
						<h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{newCampaigns}</h2>
						<br />
					</header>
					<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
						<lightning-layout multiple-rows>
							<lightning-layout-item size="6" medium-device-size="6" padding="around-small">
								<div style="margin-top: -5%;">
									<lightning-formatted-text value={label.hl_Select_a_record_type}>
									</lightning-formatted-text>
								</div>
							</lightning-layout-item>
							<lightning-layout-item size="6" medium-device-size="6" padding="around-small">
								<div style="margin-bottom: 7%;">
									<lightning-radio-group label="" name="recordType" onchange={handleChange}
										options={options} value={selectedRecordTypeId} type="radio">
									</lightning-radio-group>
								</div>
							</lightning-layout-item>
						</lightning-layout>
					</div>
					<footer class="slds-modal__footer">
						<lightning-button label={label.btn_cancel} variant="neutral" onclick={closeModal}>
						</lightning-button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<lightning-button label={label.btn_Next} variant="brand" onclick={handleNext}>
						</lightning-button>
					</footer>
				</div>
			</section>
			<div class="slds-backdrop slds-backdrop_open"></div>
		</div>
	</template>
	<div class="slds-hide">
		<lightning-record-edit-form object-api-name="Campaign" onload={onLoad} record-type-id={selectedRecordTypeId}>
		</lightning-record-edit-form>
	</div>
	<c-record-form-modal sectioncssclass={sectionCssClass} header={header}>
		<lightning-accordion allow-multiple-sections-open active-section-name={activeAccordionSections}>
			<lightning-record-edit-form object-api-name="Campaign" record-id={recordFormId} record-type-id={selectedRecordTypeId} onsuccess={onSuccess}
				onsubmit={handleSubmit}>
				<template for:each={typeLayoutSections} for:item="layoutSection">
					<lightning-accordion-section key={layoutSection.id} name={layoutSection.heading}
						label={layoutSection.heading}>
						<template for:each={layoutSection.layoutRows} for:item="layoutRow">
							<lightning-layout key={layoutRow} multiple-rows>
								<template for:each={layoutRow.layoutItems} for:item="layoutItem">
									<template for:each={layoutItem.layoutComponents} for:item="layoutComponent">
										<lightning-layout-item key={layoutComponent.apiName} size="6"
											medium-device-size="6" padding="around-small">
											<template if:true={reloadForm}>
												<template if:true={layoutComponent.hasPlan}>
													<c-customlookup object-name={layoutComponent.apiName}
														field-name={fieldName} field-label={fieldLabel}
														field-value={fieldValue} has-disabled={getDisabled} 
														obj-info={objInfo} onselected={handelSelect}
														onsearched={handelSearch} onclick={handleClick}
														clear-icon-flag={clearIconFlag} show-icon={getshowIcons}
														onchange={handleInputChange}>
													</c-customlookup>
												</template>
												<template if:false={layoutComponent.hasPlan}>
													<template if:true={layoutComponent.setdateFormat}>
														<lightning-input label={layoutComponent.label} 
															value={layoutComponent.value} required={layoutItem.required}
															onchange={handleDateChange} type="date" date-style="short" 
															data-field={layoutComponent.apiName}>
														</lightning-input>
													</template>
													<template if:false={layoutComponent.setdateFormat}>
														<lightning-input-field field-name={layoutComponent.apiName} 
															value={layoutComponent.value} required={layoutItem.required}
															onchange={handleInputChange}
															data-field={layoutComponent.apiName}>
														</lightning-input-field>
													</template>
												</template>
											</template>
										</lightning-layout-item>
									</template>
								</template>
							</lightning-layout>
						</template>
					</lightning-accordion-section>
				</template>
				<div class="slds-float_right">
					<lightning-button label={label.btn_cancel} variant="neutral" onclick={handleCancelRecordFormModal}
						data-action="cancel">
					</lightning-button>&nbsp;&nbsp;&nbsp;&nbsp;
					<lightning-button label="Save" variant="brand" type="submit" data-action="new"
						disabled={hasDisabled} onclick={handleSubmit}>
					</lightning-button>
				</div>
				<!--<div class="slds-float_right">
					<lightning-button label={label.btn_cancel} variant="neutral" type="submit" onclick={handleCancelRecordFormModal} data-action="Cancel">
					</lightning-button>&nbsp;&nbsp;&nbsp;&nbsp;
					<lightning-button label={label.btn_save} variant="brand" type="submit" disabled={hasDisabled} data-action="New" onclick={handleSubmit}>
					</lightning-button>
				</div>-->
			</lightning-record-edit-form>
		</lightning-accordion>
	</c-record-form-modal>

	<c-modal header={header} sectioncssclass={sectioncssclass}>{content}
		<div slot="footer">
			<lightning-button label={label.btn_cancel} variant="neutral" onclick={handleCancelModal}></lightning-button>
			<lightning-button label={label.btn_Delete} variant="brand" onclick={handleDelete}></lightning-button>
		</div>
	</c-modal>
	<c-toast></c-toast>
</template>