<template>
    <template if:true={showModal}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium"
            aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon class="slds-modal__close" title="Close" icon-name="utility:close"
                        icon-class="slds-button_icon-inverse" onclick={handleDialogClose}></lightning-button-icon>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{label.hl_Add_plan_members}</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="content_5956:0">
                    <template if:false={hasNext}>
                        <div class="forceMultiAddUsingLVM runtime_sales_campaignRelatedAddMember"
                            data-aura-class="forceMultiAddUsingLVM runtime_sales_campaignRelatedAddMember"
                            style="height: calc(250px);">
                            <div class="multiAddWrapper multiAddRegular">
                                <div class="headerRegion">
                                    <div class="forceMultiAddSearch">
                                        <div class="searchContainer">
                                            <label class="uiLabel" data-aura-class="uiLabel">
                                                <span class="assistiveText">{label.hl_Search_People}</span>
                                                <div class="uiInput forceSearchInputLookupDesktop uiInput--default">
                                                    <div class="contentWrapper slds-box--border">
                                                        <div
                                                            class="inputWrapper slds-grid slds-grid_vertical-align-center slds-p-right_x-small">
                                                            <div class="autocompleteWrapper slds-grow">
                                                                <input
                                                                    class=" default input uiInput uiInputTextForAutocomplete uiInput--default uiInput--input uiInput uiAutocomplete uiInput--default uiInput--lookup"
                                                                    maxlength="500" type="text"
                                                                    data-aura-class="uiInput uiInputTextForAutocomplete uiInput--default uiInput--input uiInput uiAutocomplete uiInput--default uiInput--lookup"
                                                                    placeholder={label.hl_Search_People}
                                                                    title="Search People" onclick={handleClick}
                                                                    name="search" onkeypress={handleChange} />
                                                                <template if:true={showdata}>
                                                                    <div class="lookup__menu uiAbstractList uiAutocompleteList uiInput uiAutocomplete uiInput--default uiInput--lookup"
                                                                        data-aura-class="uiAbstractList uiAutocompleteList uiInput uiAutocomplete uiInput--default uiInput--lookup"
                                                                        style="width: 905px;">
                                                                        <div class="hidden">
                                                                            <div
                                                                                class="searchButton itemContainer slds-lookup__item-action--label slds-text-link--reset slds-grid slds-grid--vertical-align-center slds-truncate forceSearchInputLookupDesktopActionItem lookup__header">
                                                                                <lightning-icon
                                                                                    class="itemIcon slds-icon slds-icon--x-small slds-m-left--x-small slds-icon-text-default slds-button__icon slds-icon-utility-search slds-icon_container forceIcon"
                                                                                    size="x-small"
                                                                                    data-aura-class="forceIcon"
                                                                                    alternative-text="icon" style="">
                                                                                    <svg
                                                                                        class="slds-icon slds-icon_xx-small">
                                                                                        <use
                                                                                            xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg?cache=9.36.1#search">
                                                                                        </use>
                                                                                    </svg>
                                                                                    <span
                                                                                        class="slds-assistive-text">Search
                                                                                        People</span>
                                                                                </lightning-icon>
                                                                                <span
                                                                                    class="itemLabel slds-truncate slds-show--inline-block slds-m-left--xx-small">0</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="listContent">
                                                                            <ul class="lookup__list  visible">
                                                                                <template if:true={showIcon}>
                                                                                    <template if:true={userList}
                                                                                        for:each={userList}
                                                                                        for:item="item">
                                                                                        <li class="lookup__item  default uiAutocompleteOption forceSearchInputLookupDesktopOption"
                                                                                            data-aura-class="uiAutocompleteOption forceSearchInputLookupDesktopOption"
                                                                                            key={item.Id}>
                                                                                            <a
                                                                                                href="javascript:void(0);">
                                                                                                <div class="mruIcon slds-icon slds-icon--small slds-float--left slds-m-vertical--xx-small slds-m-left--xx-small slds-media__figure forceEntityIcon"
                                                                                                    style={objIconColor}
                                                                                                    data-aura-class="forceEntityIcon">
                                                                                                    <span
                                                                                                        class="uiImage">
                                                                                                        <img src={objInfo.themeInfo.iconUrl}
                                                                                                            class="icon "
                                                                                                            alt={objInfo.label}
                                                                                                            title={objInfo.label} />
                                                                                                    </span>
                                                                                                </div>
                                                                                                <div
                                                                                                    class="slds-m-left--smalllabels slds-truncate slds-media__body">
                                                                                                    <div class="primaryLabel slds-truncate slds-lookup__result-text"
                                                                                                        onclick={handleSelect}
                                                                                                        data-id={item.value}
                                                                                                        name={item.label}>
                                                                                                        {item.label}
                                                                                                    </div>
                                                                                                </div>
                                                                                            </a>
                                                                                        </li>
                                                                                    </template>
                                                                                </template>
                                                                                <p style="margin-left: 11px;">
                                                                                    {showMessage}
                                                                                </p>
                                                                            </ul>
                                                                            <div class="emptyListContent">
                                                                                <div class="slds-hide"></div>
                                                                            </div>
                                                                            <div class="loadingIndicator">
                                                                                <div class="background"></div>
                                                                                <span
                                                                                    class="label">{label.msg_Loading}</span>
                                                                            </div>
                                                                        </div>
                                                                        <!--New User Creation-->
                                                                    </div>
                                                                </template>
                                                            </div>
                                                            <lightning-icon
                                                                class="inputLookupIcon slds-button_icon-xx-small slds-icon-utility-search slds-icon_container">
                                                                <svg
                                                                    class="slds-icon slds-icon-text-default slds-icon_xx-small">
                                                                    <use
                                                                        xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg?cache=9.36.1#search">
                                                                    </use>
                                                                </svg>
                                                            </lightning-icon>
                                                        </div>
                                                        <!--Selected section-->
                                                        <template if:true={selectedItems}>
                                                            <div class="pillContainerWrapper">
                                                                <div class="uiPillContainer--default uiPillContainer noinput focused"
                                                                    data-aura-class="uiPillContainer--default uiPillContainer">
                                                                    <div class="assistiveText"></div>
                                                                    <template if:true={showIcon}>
                                                                        <a class="showMore invisible"
                                                                            href="javascript:void(0);">{label.hl_Show_More}
                                                                        </a>
                                                                        <ul class="orderedList">
                                                                            <template for:each={selectedSet}
                                                                                for:item="item" for:index="index">
                                                                                <li class="pillContainerListItem"
                                                                                    key={item.Id}>
                                                                                    <a class="pill uiPill--default uiPill"
                                                                                        tabindex="0"
                                                                                        onclick={handleClicked}>
                                                                                        <span class="pillIcon"
                                                                                            style={IconColor}>
                                                                                            <span class="uiImage">
                                                                                                <img src={objInfo.themeInfo.iconUrl}
                                                                                                    class="icon "
                                                                                                    alt={objInfo.label}
                                                                                                    title={objInfo.label} />
                                                                                            </span>
                                                                                        </span>
                                                                                        <span class="pillText"
                                                                                            onclick={handleSelectedValue}
                                                                                            data-id={item.value}
                                                                                            id={index}>{item.label}</span>
                                                                                        <span class="deleteIcon"
                                                                                            style="margin-left: 6px;"
                                                                                            onclick={removeSelectedItem}
                                                                                            data-id={item.value}>
                                                                                        </span>
                                                                                        <span
                                                                                            class="assistiveText">Press
                                                                                            Delete
                                                                                            to Remove</span>
                                                                                    </a>
                                                                                </li>
                                                                            </template>
                                                                        </ul>
                                                                    </template>
                                                                </div>
                                                            </div>
                                                        </template>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <!--space b/w dropdown and table-->
                                    <div style="height: 50px;"></div>
                                    <div class="selectionCountString">{selectedItemCount}</div>
                                    <div style="height: 5px;"> </div>

                                    <c-datatable records={data} rowoffset={rowOffset} columns={columns}
                                        selectedrows={selectedRows} sortedby={sortBy} sorteddirection={sortDirection}
                                        hidecheckboxcolumn={hideCheckboxColumn}
                                        showrownumbercolumn={showRowNumberColumn} tableloadingstate={tableLoadingState}
                                        onselect={handleSelect} onrowselect={handleSelectedRows}
                                        oncolumnsort={handleColumnSort}>
                                    </c-datatable>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template if:true={hasNext}>
                        <lightning-card>
                            <div class="bRelatedList">
                                <div class="listRelatedObject setupBlock">
                                    <div class="bPageBlock brandSecondaryBrd secondaryPalette">
                                        <div class="pbHeader"></div>
                                        <div class="pbBody">
                                            <table aria-multiselectable="true"
                                                class="slds-table slds-table_bordered slds-table_fixed-layout slds-table_resizable-cols"
                                                role="grid">
                                                <thead>
                                                    <tr class="slds-line-height_reset">
                                                        <template if:true={columnList} for:each={columnList}
                                                            for:item="item" for:index="index">
                                                            <th aria-label="Name" aria-sort="none"
                                                                class="slds-is-resizable slds-is-sortable" scope="col"
                                                                data-id={item.fieldName} onclick={handleSort}
                                                                key={item.Id}>
                                                                <a class="slds-th__action slds-text-link_reset"
                                                                    href="javascript:void(0);" role="button"
                                                                    tabindex="0">
                                                                    <span class="slds-assistive-text">Sort by: </span>
                                                                    <div
                                                                        class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                                                        <span class="slds-truncate"
                                                                            title={item.label}>{item.label}</span>
                                                                        <div if:true={isAsc}>
                                                                            &#8593;
                                                                        </div>
                                                                        <div if:true={isDsc}>
                                                                            &#8595;
                                                                        </div>
                                                                        <span
                                                                            class="slds-icon_container slds-icon-utility-arrowdown">
                                                                            <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon "
                                                                                aria-hidden="true">
                                                                                <use
                                                                                    xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown">
                                                                                </use>
                                                                            </svg>
                                                                        </span>
                                                                    </div>
                                                                </a>
                                                                <div class="slds-resizable">
                                                                    <input type="range" aria-label="Name column width"
                                                                        class="slds-resizable__input slds-assistive-text"
                                                                        max="1000" min="20" tabindex="0" />
                                                                    <span class="slds-resizable__handle">
                                                                        <span class="slds-resizable__divider"></span>
                                                                    </span>
                                                                </div>
                                                            </th>
                                                        </template>
                                                        <th aria-label="Read" aria-sort="none"
                                                            class="slds-is-resizable slds-is-sortable" scope="col">
                                                            <a class="slds-th__action slds-text-link_reset"
                                                                href="javascript:void(0);" role="button" tabindex="0">
                                                                <span class="slds-assistive-text">Sort by: </span>
                                                                <div
                                                                    class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                                                    <img src="/img/checkbox_checked.gif" alt="Checked"
                                                                        width="21" height="16" class="checkImg"
                                                                        title="Checked" />
                                                                    <label
                                                                        style="margin-left: 6px;">{label.hl_Read}</label>
                                                                    <span
                                                                        class="slds-icon_container slds-icon-utility-arrowdown">
                                                                        <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon "
                                                                            aria-hidden="true">
                                                                            <use
                                                                                xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown">
                                                                            </use>
                                                                        </svg>
                                                                    </span>
                                                                </div>
                                                            </a>
                                                            <div class="slds-resizable">
                                                                <input type="range" aria-label="Close Date column width"
                                                                    class="slds-resizable__input slds-assistive-text"
                                                                    id="cell-resize-handle-535" max="1000" min="20"
                                                                    tabindex="0" />
                                                                <span class="slds-resizable__handle">
                                                                    <span class="slds-resizable__divider"></span>
                                                                </span>
                                                            </div>
                                                        </th>
                                                        <th aria-label="Read/Write" aria-sort="none"
                                                            class="slds-is-resizable slds-is-sortable" scope="col">
                                                            <a class="slds-th__action slds-text-link_reset"
                                                                href="javascript:void(0);" role="button" tabindex="0">
                                                                <span class="slds-assistive-text">Sort by: </span>
                                                                <div
                                                                    class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                                                    <lightning-input type="checkbox" label="Read/Write"
                                                                        onclick={handleRwAll} checked={rwChecked}>
                                                                    </lightning-input>
                                                                    <span
                                                                        class="slds-icon_container slds-icon-utility-arrowdown">
                                                                        <svg class="slds-icon slds-icon-text-default slds-is-sortable__icon "
                                                                            aria-hidden="true">
                                                                            <use
                                                                                xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#arrowdown">
                                                                            </use>
                                                                        </svg>
                                                                    </span>
                                                                </div>
                                                            </a>
                                                            <div class="slds-resizable">
                                                                <input type="range" aria-label="Stage column width"
                                                                    class="slds-resizable__input slds-assistive-text"
                                                                    id="cell-resize-handle-536" max="1000" min="20"
                                                                    tabindex="0" />
                                                                <span class="slds-resizable__handle">
                                                                    <span class="slds-resizable__divider"></span>
                                                                </span>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <template for:each={selectedSet} for:item="item">
                                                        <tr class="dataRow even first highlight" key={item.Id}>
                                                            <td scope="row">
                                                                <div class="slds-truncate" title={item.label}>
                                                                    <a href="javascript:void(0);" tabindex="0">
                                                                        {item.label}</a>
                                                                </div>
                                                            </td>
                                                            <td role="gridcell">
                                                                <a href="javascript:void(0);" tabindex="0">
                                                                    <div class="slds-truncate" title={item.Email}>
                                                                        <lightning-formatted-email value={item.Email}>
                                                                        </lightning-formatted-email>
                                                                    </div>
                                                                </a>
                                                            </td>
                                                            <td role="gridcell">
                                                                <div class="slds-truncate">
                                                                    <img src="/img/checkbox_checked.gif" alt="Checked"
                                                                        width="21" height="16" class="checkImg"
                                                                        title="Checked" />
                                                                </div>
                                                            </td>
                                                            <td role="gridcell">
                                                                <div class="slds-truncate" title="Value Proposition">
                                                                    <lightning-input type="checkbox"
                                                                        data-id={item.value} name="read/write"
                                                                        checked={item.rwChecked}
                                                                        onclick={handleRWCheck}></lightning-input>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </template>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </lightning-card>
                    </template>
                </div>
                <footer class="slds-modal__footer">
                    <template if:true={isNext}>
                        <button class="slds-button slds-button_neutral"
                            onclick={handleDialogClose}>{label.btn_cancel}</button>
                        <template if:true={getShowNext}>
                            <button class="slds-button slds-button_brand" onclick={handleNext}>{label.btn_Next}</button>
                        </template>
                    </template>
                    <template if:true={hasSave}>
                        <button class="slds-button slds-button_neutral" onclick={handleBack}>{label.btn_Back}</button>
                        <button class="slds-button slds-button_brand" onclick={handleSave}>{label.btn_save}</button>
                    </template>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <c-toast></c-toast>
</template>