<template>
  <lightning-card title="Key Insights">

    <article style="padding: 20px 13px 0px 13px" if:true={summery}>
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_12-of-12">
          <samp class="right_site_text_header">MODEL</samp>
          <p class="right_site_text" style="padding: 15px 0px 15px 0px">{summery.associatedModelName}</p>
        </div>
      </div>
      <!-- </article> -->
      <!-- <article style="padding: 24px 16px 24px 24px"> -->
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_6-of-12">
          <samp class="right_site_text_header" style="padding: 15px 0px 15px 0px">DATE RANGE</samp>
          <p class="right_site_text" style="padding: 15px 0px 15px 0px">{dateRange}</p>
        </div>
        <div class="slds-col slds-size_6-of-12">
          <samp class="right_site_text_header" style="padding: 15px 0px 15px 0px">FREQUENCY</samp>
          <p class="right_site_text" style="padding: 15px 0px 15px 0px">{frequency}</p>
        </div>
      </div>
      <!-- </article> -->
      <!-- <article style="padding: 24px 16px 24px 24px"> -->
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_12-of-12">
          <samp class="right_site_text_header" style="padding: 15px 0px 15px 0px">MODEL FIT</samp>
          <p class="right_site_text" style="padding: 15px 0px 0px 0px">{summery.goodnessOfFit}</p>
        </div>
      </div>
      <!-- </article> -->
      <!-- <article style="padding: 19px 14px 19px 19px"> -->
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_12-of-12">
          <article style="padding: 15px 0px 15px 0px">
            <samp class="right_site_text_header">CAUSES AND EFFECT</samp>
          </article>
          <article class="slds-align_absolute-center total_causes" style="padding: 12px 10px 12px 10px;">
            <!-- <div class="slds-grid slds-gutters"> -->
            <!-- <div class="slds-col slds-size_12-of-12 slds-align_absolute-center"> -->
            <samp class="right_site_text">Causes({totalcauses})</samp>
            <!-- </div> -->
            <!-- </div> -->
          </article>
        </div>
      </div>

      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_6-of-12" style="visibility: hidden">hi</div>
        <div class="slds-border_right"></div>
        <div class="slds-col slds-size_6-of-12" style="visibility: hidden">hello</div>
      </div>

      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_12-of-12">
          <article class="total_causes" style="padding: 12px 10px 12px 10px;">
            <p class="slds-align_absolute-center right_site_text" >{firstCauses.name}</p>
          </article>
        </div>
      </div>

      <article class="show_causes" style="margin-top: 15px;">
        <div if:true={causesStatus} class="slds-align_absolute-center">
          <div class="" style="padding: 12px 10px 12px 10px;">
          <button onclick={changeStatusTrue} class="causes_button">
            <img class="" src={upArrow} />
          </button>
        </div>
        </div>
        <div if:false={causesStatus} class="slds-align_absolute-center">
          <div class="" style="padding: 12px 10px 12px 10px;">
          <button onclick={causesStatusFalse} class="causes_button">
            <img class="" src={downarrow} />
          </button>
        </div>
        </div>
        <template if:true={causesStatus}>
          <template for:each={remainingCauses} for:item="causesName" for:index="index">
          <div class="slds-col slds-size_12-of-12" key={keyIndex}>
            <div class="slds-border_top"></div>
            <div class="slds-align_absolute-center" style="padding: 12px 10px 12px 10px;">
              <p class="right_site_text">{causesName.name}</p>
            </div>
          </div>
        </template>
        </template>
      </article>
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_12-of-12">
          <article style="padding: 15px 0px 15px 0px">
            <samp class="right_site_text_header">EFFECT</samp>
          </article>
          <article>
            <div class="slds-grid slds-gutters" style="padding: 0px 14px">
              <div class="slds-col slds-size_12-of-12 slds-align_absolute-center total_causes">
                <article style="padding: 15px 0px 15px 0px">
                  <p class="right_site_text">{effectName}</p>
                </article>
              </div>
            </div>
          </article>
        </div>
      </div>
    </article>

    <!-- <div class="slds-form-element slds-form-element_compound slds-form-element_address  slds-p-horizontal_small"
      if:true={summery}>
      <div class="slds-form-element__control">
        <div class="slds-form-element__row">
          <div class="slds-size_1-of-1">
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="form-element-id-04">MODEL</label>
              <div class="slds-form-element__control">
                <div class="slds-form-element__static">{summery.associatedModelName}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slds-form-element__row">
          <div class="slds-size_4-of-6">
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="form-element-id-05">DATE RANGE</label>
              <div class="slds-form-element__control">
                <div class="slds-form-element__static">{summery.startDate} — {summery.endDate}</div>
              </div>
            </div>
          </div>
          <div class="slds-size_2-of-6">
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="form-element-id-06">FREQUENCY</label>
              <div class="slds-form-element__control">
                <div class="slds-form-element__static">{summery.frequency}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="slds-form-element__row">
          <div class="slds-size_1-of-1">
            <div class="slds-form-element">
              <label class="slds-form-element__label" for="form-element-id-07">MODEL FIT</label>
              <div class="slds-form-element__control">
                <div class="slds-form-element__static">{summery.goodnessOfFit}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <lightning-tree items={causes} header="Causes"></lightning-tree>
      <lightning-tree items={effect} header="Effect"></lightning-tree>
    </div> -->
    <article class="slds-card Rectangle">
      <div class="slds-card__header slds-grid rectengle-header padding-top-zero">
        <header class="slds-media slds-media_center slds-has-flexi-truncate">
          <div class="slds-media__body">
            <h2 class="slds-card__header-title">
              <span class="assumptionTextStyle">ASSUMPTIONS</span>
            </h2>
          </div>
          <div class="slds-no-flex" if:true={showAssumptionList}>
              <button class="slds-button slds-button_brand" onclick={handleSaveAssumption} if:true={enableAssumptionSave}
                style="height: 24px; margin-right: 16px;">Save</button>
              <button class="slds-button slds-button_neutral" onclick={handleEditAssumption}
                if:true={enableAssumptionEdit} style="height: 24px;">Edit</button>
              <button class="slds-button slds-button_neutral" onclick={handleCancelAssumption}
                if:true={enableAssumptionCancel} style="height: 24px;">Cancel</button>
            </div>
            <div class="slds-no-flex">
            <button class="accordion-assumption" onclick={handleAssumptionAccordion} if:false={showAssumptionList}>
              <span>
                <img src={chevronDown} alt="lampIcon" >
              </span>
              </button>
            <button class="accordion-assumption" onclick={handleAssumptionAccordion} if:true={showAssumptionList}>
                <span>
                  <img src={chevronUp} alt="lampIcon" >
                </span>
                </button>
          </div>
        </header>
      </div>
      <div class="slds-card__body slds-card__body_inner slds-border_top" style="padding-top: 10px;" if:true={showAssumptionList}>
        <template for:each={assumptionList} for:item="assumption" for:index="index">
          <div key={keyIndex} class="inRectangle">
            <div class="indexIcon" style="display: table;">
              <div style="display: table-cell; vertical-align: middle;">
                <span class="slds-badge slds-badge_inverse">{assumption.index}</span>
              </div>
            </div>
            <div class="assumptionBodyTextStyle" style="display: table;">
              <span style="display: table-cell; vertical-align: middle;">{assumption.assumption}</span>
            </div>
            <div style="width: 60px; height: 48px; ">
              <span if:true={enableAssumptionIcon} class="assumption-text" style="float: right; margin-top: 10px;">
                <lightning-button-icon icon-name="action:delete" alternative-text="Delete" title="Delete" size="small"
                  icon-key={index} id={index} value={index} onclick={handleDeleteAssumptions}>
                </lightning-button-icon>
              </span>
            </div>

          </div>
        </template>
        <template for:each={newAssumptionList} for:item="item" for:index="index">
          <div class="slds-p-horizontal_small inRectangle" key={keyIndex}>
            <lightning-input name="conFirstName" access-key={index} id={index} type="text" onchange={changeHandler}
              value={item.value} placeholder="Type assumption here" variant="label-hidden" style="width: 100%;">
            </lightning-input>
          </div>
        </template>
        <div if:true={showAddAssumption}>
          <div>
            <button type="submit" class="addAssupmtionButton" onclick={addRow}>
              <span class="slds-text-not-selected">
                <img src={plusCircle} alt="lampIcon" class="plus-circle">
              </span>
              <span class="addAssumptionButtonText">
                Add New Assumption
              </span>
            </button>
          </div>
        </div>
      </div>
    </article>
    
    <div class="related_list_themed_border_top"></div>
    <article class="slds-card Rectangle" if:true={showExternalFactorData}>
      <div class="slds-card__header slds-grid rectengle-header-ExFactor">
        <header class="slds-media slds-media_center slds-has-flexi-truncate">
          <div class="slds-media__body">
            <h2 class="slds-card__header-title">
              <span class="assumptionTextStyle">External Factors</span>
            </h2>
          </div>
          <div class="slds-no-flex" if:true={showAssumptionList}>
            <button class="slds-button slds-button_brand" onclick={handleSaveExFactor} if:true={enableExFactorSave}
              style="height: 24px; margin-right: 16px;">Save</button>
            <button class="slds-button slds-button_neutral" onclick={handleEditExFactor} if:true={enableExFactorEdit}
              style="height: 24px;">Edit</button>
            <button class="slds-button slds-button_neutral" onclick={handleCancelExFactor} if:true={enableExFactorCancel}
              style="height: 24px;">Cancel</button>
          </div>
          <div class="slds-no-flex">
            <button class="accordion-assumption" onclick={handleExFactorAccordion} if:false={showExFactorList}>
              <span>
                <img src={chevronDown} alt="lampIcon">
              </span>
            </button>
            <button class="accordion-assumption" onclick={handleExFactorAccordion} if:true={showExFactorList}>
              <span>
                <img src={chevronUp} alt="lampIcon">
              </span>
            </button>
          </div>
        </header>
      </div>
      <div class="slds-card__body slds-card__body_inner slds-border_top" style="padding-top: 10px;"
        if:true={showExFactorList}>
        <template for:each={exFactorList} for:item="ExFactor" for:index="index">
          <div key={keyIndex} class="inRectangle">
            <div class="indexIcon" style="display: table;">
              <div style="display: table-cell; vertical-align: middle;">
                <span class="slds-badge slds-badge_inverse">{ExFactor.index}</span>
              </div>
            </div>
            <div class="assumptionBodyTextStyle" style="display: table;">
              <span style="display: table-cell; vertical-align: middle;">{ExFactor.ExFactor}</span>
            </div>
            <div style="width: 60px; height: 48px; ">
              <span if:true={enableExFactorIcon} class="assumption-text" style="float: right; margin-top: 10px;">
                <lightning-button-icon icon-name="action:delete" alternative-text="Delete" title="Delete" size="small"
                  icon-key={index} id={index} value={index} onclick={handleDeleteExFactors}>
                </lightning-button-icon>
              </span>
            </div>
    
          </div>
        </template>
    
        <div if:true={showAddExFactor}>
          <div>
            <button type="submit" class="addAssupmtionButton" onclick={addRow}>
              <span class="slds-text-not-selected">
                <img src={plusCircle} alt="lampIcon" class="plus-circle">
              </span>
              <span class="addAssumptionButtonText">
                Add New External Factor
              </span>
            </button>
          </div>
        </div>
      </div>
    </article>
    <!-- <article class="slds-card" if:true={externalFactorData}>
      <div class="slds-card__header slds-grid">
        <header class="slds-media slds-media_center slds-has-flexi-truncate">
          <div class="slds-media__figure">
										<span class="slds-icon_container slds-icon-standard-contact" title="contact">
											<svg class="slds-icon slds-icon_small" aria-hidden="true">
												<use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#contact">
												</use>
											</svg>
										</span>
									</div> 
          <div class="slds-media__body">
            <h2 class="slds-card__header-title">
              <span>External Factors</span>
            </h2>
          </div>
         <div class="slds-no-flex">
            <lightning-button data-action="Edit" label="Edit" onclick={handleNew}></lightning-button>
          </div>
        </header>
      </div>
      External Factor commented - start
      <div class="slds-card__body">
        <div class="slds-form-element slds-form-element_compound slds-form-element_address  slds-p-horizontal_small">
          <div class="slds-form-element__control">
            <div class="slds-form-element__row">
              <div class="slds-size_4-of-6">
                <div class="slds-form-element">
                  <div class="slds-form-element__control">
                    <div class="slds-form-element__static">{externalFactorData.externalFactorName}</div>
                  </div>
                </div>
              </div>
              <div class="slds-size_2-of-6">
                <div class="slds-form-element">
                  <div class="slds-form-element__control">
                    <div class="slds-form-element__static">{externalFactorData.externalFactorValue}
                      ({externalFactorData.change})</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="slds-form-element__row">
              <div class="slds-size_1-of-1">
                <div class="slds-form-element">
                  <label class="slds-form-element__label" for="form-element-id-07">EFFECT</label>
                  <div class="slds-form-element__control">
                    <div class="slds-form-element__static">{externalFactorData.effect}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      External Factor commented - end
    -->
    <!-- External Factor commented - start
    <div>
      <article class="slds-card slds-card_boundary slds-var-m-around_x-small">
        <div class="slds-card__header slds-grid">
          <header class="slds-media slds-media_center slds-has-flexi-truncate">
            <div class="slds-media__body">
              <h5 class="slds-card__header-title">
                <span>SUGGESTED CHANGE</span>
              </h5>
            </div>
          </header>
        </div>
        <div class="slds-card__body slds-card__body_inner">{externalFactorData}</div> 
      </article>
    </div>
    External Factor commented - end-->
  </lightning-card>

</template>