.Rectangle  {
    /*width: 418px !important;*/
    /*height: 409px !important;*/
    margin: 33px 19px 19px !important;
    padding: 15px 0 16px !important;
    border-radius: 4px !important;
    background-color: rgba(204, 215, 241, 0.3) !important;
}
.inRectangle {
  width: 100%;
	margin: 0px 0px 16px;
  padding: 13px 16px 13px 16px;
  border-radius: 4px;
  background-color: #ffffff;
  display: inline-flex;
}


.Rectangle span.slds-badge.slds-badge_inverse {
  width: 30px;
  height: 30px;
  padding: 3px 11px;
  background-color: rgba(204, 215, 241, 0.3);
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  color: black;
}

.addAssupmtionButton  {
  height: 50px;
  width: 100%;
	margin: 0px 0px 0px;
	padding: 13px 16px;
	border-radius: 4px;
	border: dashed 1px #0035b9;
	background-color: #fff;
}
.assumptionTextStyle{
	width: 90px;
  height: 16px;
  margin: 4px 197px 4px 0;
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #808080;
}
.addAssumptionButtonText{
  width: 100%;
  height: 20px;
  margin: 0 0 0 8px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #0035b9;
}
.indexIcon{
  width: 48px;
    height: 48px;
    position: relative;
}
.assumptionBodyTextStyle{
  width: 100%;
  height: 48px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #333333;
}
.plus-circle {
  width: 20px;
  height: 20px;
  margin: 0 0 0 0;
  object-fit: contain;
}

/*Rasbehari*/
.slds-theme--shade{
  width: 29rem;
}

.total_causes{
  /* width: 418px; */
  height: 48px;
  /* margin: 16px 0 0px; */
  /* padding: 12px 140px 12px 169px; */
  border-radius: 4px;
  box-shadow: 0 4px 24px -8px rgb(125 112 188 / 20%);
  border: solid 1px rgba(0, 53, 185, 0.15);
  background-color: #ffffff;
}
.causes_button{
  border: none; 
  background:white;
  outline: none !important;
}
.show_causes{
  /* width: 418px; */
  /* height: 48px; */
  /* padding: 12px 168px 12px 169px; */
  border-radius: 4px;
  box-shadow: 0 4px 24px -8px rgb(125 112 188 / 20%);
  border: 1px solid rgba(0,53,185,.15);
  background-color: #fff;
}
.causes_text_align{
  padding: 12px 168px 12px 196px;  
}
.right_site_text_header{
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #808080
}
.right_site_text{
  font-family: Inter;
font-size: 16px;
font-weight: 600;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: normal;
color: #333333;
}
.accordion-assumption{
  border: none;
  background: none;
  padding-left: 15px;
}
.padding-top-zero{
  padding-top: 0px; 
}