<template >
    <div class="email-only" style="height: 640px;" >
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">
                            <header class="slds-modal__header">
                                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                                        <lightning-icon icon-name="utility:close" size="medium">
                                        </lightning-icon>
                                        <span class="slds-assistive-text">Close</span>
                                    </button>
                                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Group Message</h2><br/>
                                    <div style="color: red;">{isContributor}</div>
                                </header>
                                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                          <template if:true={RoleInCampaignPicklistValues.data}>
        <lightning-combobox name="progress"
                            label={label.label_roleInCampaign}
                            value={value}
                            placeholder="---All---"
                            options={RoleInCampaignPicklistValues.data.values}
                            onchange={handleChange} >
        </lightning-combobox>
    </template>
<lightning-input type="text" name="Subject" label="Subject" value={subject} onchange={handleFormInputChange}></lightning-input><br/>
<lightning-input-rich-text placeholder="Email body...." label="Body" value={body}  onchange={handleFormInputChange}
></lightning-input-rich-text>
<div style="margin-left:4%">
    <div>
        <lightning-input label="" name="file uploader" onchange={handleFilesChange} type="file" multiple>{fileName}</lightning-input>
    </div><br/>
    <div class="slds-text-body_small slds-text-color_error">
    <template if:true={showLoadingSpinner}>
            <lightning-spinner alternative-text="Uploading......" size="medium"></lightning-spinner>
        </template>
    </div>
    <!-- <div>
        <lightning-button class="slds-m-top--medium" label={UploadFile} onclick={handleSave} variant="brand" disabled={isTrue}></lightning-button>
    </div>-->
</div><br/><br/>
</div>
        <footer class="slds-modal__footer">
                <lightning-button label={label.btn_cancel} variant="neutral" onclick={closeModal}></lightning-button>&nbsp;&nbsp;&nbsp;&nbsp;
                <lightning-button label={label.btn_send} variant="brand" onclick={sendEmail}></lightning-button>
            </footer>
<c-toast></c-toast>
</div>
</section>
<div class="slds-backdrop slds-backdrop_open"></div>

</div>
</template>