<template>
	<div style="width:100%; position:absolute;" class="gantt_parent_div_height">
		<div lwc:dom="manual" id="gantt" class="gantt"></div>
	</div>
	<!--To show popup on dragtask update-->
	<div if:true={showFormFooter}>
		<div class="slds-docked-form-footer">
			<button type="button" class="slds-button slds-button_neutral" onclick={handleCloseFooterForm}>Cancel</button>
			<button type="button" class="slds-button slds-button_brand" onclick={handleSaveTasks}>Save</button>
		</div>
	</div>
	<!--Gantt Modal on double click on the task-->
	<c-modal header={header} sectioncssclass={sectioncssclass}>
		<!--<c-record-view-form objectapiname={objectApiName} fields={fields} recordid={taskId}></c-record-view-form>-->
		<template if:true={isCampaign}>
			<lightning-tabset>
				<lightning-tab label="Campaign" onactive={handleActiveOpenButton}>
					<lightning-record-view-form object-api-name={objectApiName} record-id={taskRecId}>
						<lightning-layout multiple-rows>
							<template for:each={fields} for:item="field">
								<lightning-layout-item key={field.name} size="6" medium-device-size="6" padding="around-small">
									<lightning-output-field field-name={field.name}></lightning-output-field>
									<template if:true={field.hasCampaign}>
										<div>
											<label class="label inputLabel uiLabel-left form-element__label uiLabel">
												<span class="">{field.label}</span>
											</label>
										</div>
										<a href={campaignUrl} target="__blank">{campaignValue}</a>
									</template>
									<template if:true={field.hasMarketingPlan}>
										<div>
											<label class="label inputLabel uiLabel-left form-element__label uiLabel">
												<span class="">{field.label}</span>
											</label>
										</div>
										<a href={url} target="__blank">{marketingPlan}</a>
									</template>
								</lightning-layout-item>
							</template>
						</lightning-layout>
					</lightning-record-view-form>
				</lightning-tab>
				<template if:true={financeAllocation}>
					<lightning-tab label="Allocation" onactive={handleActiveAllocation}>
						<c-datatable records={dtdata} columns={dtcolumns} hidecheckboxcolumn={hideCheckboxColumn}
							tableloadingstate={tableLoadingState}></c-datatable>
					</lightning-tab>
				</template>
			</lightning-tabset>
		</template>
		<template if:true={isMarketingActivity}>
			<lightning-tabset>
				<lightning-tab label="Marketing Activity" onactive={handleActiveOpenButton}>
					<!--<c-record-view-form objectapiname={objectApiName} fields={fields} recordid={taskId}></c-record-view-form>-->
					<lightning-record-view-form object-api-name={objectApiName} record-id={taskRecId}>
						<lightning-layout multiple-rows>
							<template for:each={fields} for:item="field">
								<lightning-layout-item key={field.name} size="6" medium-device-size="6" padding="around-small">
									<lightning-output-field field-name={field.name}></lightning-output-field>
									<template if:true={field.hasCampaign}>
										<div>
											<label class="label inputLabel uiLabel-left form-element__label uiLabel">
												<span class="">{field.label}</span>
											</label>
										</div>
										<a href={campaignUrl} target="__blank">{campaignValue}</a>
									</template>
									<template if:true={field.hasMarketingPlan}>
										<div>
											<label class="label inputLabel uiLabel-left form-element__label uiLabel">
												<span class="">{field.label}</span>
											</label>
										</div>
										<a href={url} target="__blank">{marketingPlan}</a>
									</template>
								</lightning-layout-item>
							</template>
						</lightning-layout>
					</lightning-record-view-form>
				</lightning-tab>
				<lightning-tab label={otherobjectapiname} onactive={handleActive}>
					<template if:true={showOtherObjectTab}>
						<lightning-record-view-form object-api-name={otherobjectapiname} record-id={taskIdCampaign}>
							<lightning-layout multiple-rows>
								<template for:each={fieldsCampaign} for:item="field">
									<lightning-layout-item key={field.name} size="6" medium-device-size="6" padding="around-small">
										<template if:true={field.hasMarketingPlan}>
											<div>
												<label class="label inputLabel uiLabel-left form-element__label uiLabel">
													<span class="">{field.label}</span>
												</label>
											</div>
											<a href={url} target="__blank">{marketingPlan}</a>
										</template>
										<template if:false={field.hasMarketingPlan}>
											<lightning-output-field field-name={field.name}></lightning-output-field>

										</template>
									</lightning-layout-item>
								</template>
							</lightning-layout>
						</lightning-record-view-form>
					</template>
				</lightning-tab>
				<template if:true={financeAllocation}>
					<lightning-tab label="Allocation" onactive={handleActiveAllocation}>
						<c-datatable records={dtdata} columns={dtcolumns} hidecheckboxcolumn={hideCheckboxColumn}
							tableloadingstate={tableLoadingState}></c-datatable>
					</lightning-tab>
				</template>
			</lightning-tabset>
		</template>
		<template if:true={isMarketingJourney}>
			<lightning-tabset>
				<lightning-tab label="Marketing Journey" onactive={handleActiveOpenButton}>
					<!--<c-record-view-form  objectapiname={objectApiName} fields={fields} recordid={taskId}></c-record-view-form>-->
					<lightning-record-view-form object-api-name={objectApiName} record-id={taskRecId}>
						<lightning-layout multiple-rows>
							<template for:each={fields} for:item="field">
								<lightning-layout-item key={field.name} size="6" medium-device-size="6" padding="around-small">
									<lightning-output-field field-name={field.name}></lightning-output-field>
									<template if:true={field.hasCampaign}>
										<div>
											<label class="label inputLabel uiLabel-left form-element__label uiLabel">
												<span class="">{field.label}</span>
											</label>
										</div>
										<a href={campaignUrl} target="__blank">{campaignValue}</a>
									</template>
									<template if:true={field.hasMarketingPlan}>
										<div>
											<label class="label inputLabel uiLabel-left form-element__label uiLabel">
												<span class="">{field.label}</span>
											</label>
										</div>
										<a href={url} target="__blank">{marketingPlan}</a>
									</template>
								</lightning-layout-item>
							</template>
						</lightning-layout>
					</lightning-record-view-form>
				</lightning-tab>
				<lightning-tab label={otherobjectapiname} onactive={handleActive}>
					<template if:true={showOtherObjectTab}>
						<lightning-record-view-form object-api-name={otherobjectapiname} record-id={taskIdCampaign}>
							<lightning-layout multiple-rows>
								<template for:each={fieldsCampaign} for:item="field">
									<lightning-layout-item key={field.name} size="6" medium-device-size="6" padding="around-small">
										<template if:true={field.hasMarketingPlan}>
											<div>
												<label class="label inputLabel uiLabel-left form-element__label uiLabel">
													<span class="">{field.label}</span>
												</label>
											</div>
											<a href={url} target="__blank">{marketingPlan}</a>
										</template>
										<template if:false={field.hasMarketingPlan}>
											<lightning-output-field field-name={field.name}></lightning-output-field>
					
										</template>
									</lightning-layout-item>
								</template>
							</lightning-layout>
						</lightning-record-view-form>
					</template>
				</lightning-tab>
				<template if:true={financeAllocation}>
					<lightning-tab label="Allocation" onactive={handleActiveAllocation}>
						<c-datatable records={dtdata} columns={dtcolumns} hidecheckboxcolumn={hideCheckboxColumn}
							tableloadingstate={tableLoadingState}></c-datatable>
					</lightning-tab>
				</template>
			</lightning-tabset>
		</template>
		<div slot="footer">
			<lightning-button label={label.btn_cancel} variant="neutral" onclick={handleCancelModal} class="slds-button">
			</lightning-button>
			<lightning-button label={label.btnOpenInMC} variant="brand" onclick={handleNavigateToMarketingCloud}
				class="slds-button" if:true={mcUrl}></lightning-button>
			<template if:false={hasOpenButton}>
				<lightning-button label={label.btn_open} variant="brand" onclick={handleOpen} class="slds-button">
				</lightning-button>
			</template>
		</div>
	</c-modal>
	<template if:true={showAddModal}>
		<c-my-workspace-add-modal sectioncssclass={addSectionCssClass} header={addHeader}>
			<lightning-layout multiple-rows>
				<!--Gantt modal left section-->
				<lightning-layout-item size="4" medium-device-size="4" padding="around-medium">
					<div class="campaign-modal">
						<div class="slds-nav-vertical__section">
							<!--Top Add button of the gantt-->
							<div if:false={parent}>
								<fieldset class="slds-nav-vertical slds-nav-vertical_shade">
									<span class="slds-nav-vertical__item" if:true={campaignTemplate.data}>
										<input type="radio" id="campaign_without_parent" name="Campaign" onclick={handleAddSection}
											checked="" />
										<label
											class="slds-app-launcher__tile slds-text-link_reset slds-is-draggable inner-card inner-card-type vertical_nav"
											for="campaign_without_parent">
											<div
												class="slds-icon-standard-marketing-actions slds-icon_container slds-app-launcher__tile-figure inner-card-type-tile-figure item"
												style={getCampaignTemplateIconColor}><span class="uiImage"><img
														src={campaignTemplate.data.themeInfo.iconUrl} class="icon " alt=""
														title={campaignTemplate.data.label} /></span></div>
											<div class="slds-app-launcher__tile-body">
												{campaignTemplate.data.label}
											</div>
										</label>
									</span>
									<span class="slds-nav-vertical__item" if:true={campaign.data}>
										<input type="radio" id="CampaignType_without_parent" name="Campaign.Type" onclick={handleAddSection}
											checked="" />
										<label
											class="slds-app-launcher__tile slds-text-link_reset slds-is-draggable inner-card inner-card-type  vertical_nav"
											for="CampaignType_without_parent">
											<div
												class="slds-icon-standard-marketing-actions slds-icon_container slds-app-launcher__tile-figure inner-card-type-tile-figure item"
												style={getCampaignIconColor}><span class="uiImage"><img src={campaign.data.themeInfo.iconUrl}
														class="icon " alt="" title={campaign.data.label} /></span></div>
											<div class="slds-app-launcher__tile-body">
												{campaign.data.label}
											</div>
										</label>
									</span>
								</fieldset>
							</div>
							<!--Gantt modal with parent Id-->
							<div if:true={parent} class="tabs_with_parent">
								<fieldset class="slds-nav-vertical slds-nav-vertical_shade">
									<span class="slds-nav-vertical__item">
										<input type="radio" id="campaign_with_parent" name="Campaign" onclick={handleAddSection}
											checked="" />
										<label
											class="slds-app-launcher__tile slds-text-link_reset slds-is-draggable inner-card inner-card-type vertical_nav"
											for="campaign_with_parent">
											<div
												class="slds-icon-standard-marketing-actions slds-icon_container slds-app-launcher__tile-figure inner-card-type-tile-figure item"
												style={getCampaignTemplateIconColor}><span class="uiImage"><img
														src={campaignTemplate.data.themeInfo.iconUrl} class="icon " alt=""
														title={campaignTemplate.data.label} /></span></div>
											<div class="slds-app-launcher__tile-body">
												{campaignTemplate.data.label}
											</div>
										</label>
									</span>
									<span class="slds-nav-vertical__item">
										<input type="radio" id="CampaignType_with_parent" name="Campaign.Type" onclick={handleAddSection}
											checked="" />
										<label
											class="slds-app-launcher__tile slds-text-link_reset slds-is-draggable inner-card inner-card-type  vertical_nav"
											for="CampaignType_with_parent">
											<div
												class="slds-icon-standard-marketing-actions slds-icon_container slds-app-launcher__tile-figure inner-card-type-tile-figure item"
												style={getCampaignIconColor}><span class="uiImage"><img src={campaign.data.themeInfo.iconUrl}
														class="icon " alt="" title={campaign.data.label} /></span></div>
											<div class="slds-app-launcher__tile-body">

												{campaign.data.label}
											</div>
										</label>
									</span>
									<template if:true={hasExecutionCampaign}>
										<span class="slds-nav-vertical__item">
											<input type="radio" id="activities_with_parent"
												name="musqotmp__MarketingActivity__c.musqotmp__Type__c" onclick={handleAddSection} checked="" />
											<label
												class="slds-app-launcher__tile slds-text-link_reset slds-is-draggable inner-card inner-card-type  vertical_nav"
												for="activities_with_parent">
												<div
													class="slds-icon-standard-marketing-actions slds-icon_container slds-app-launcher__tile-figure inner-card-type-tile-figure item"
													style={getMarketingActivityIconColor}><span class="uiImage"><img
															src={marketingActivity.data.themeInfo.iconUrl} class="icon " alt=""
															title={marketingActivity.data.label} /></span></div>
												<div class="slds-app-launcher__tile-body">
													{marketingActivity.data.label}

												</div>
											</label>
										</span>
									</template>
									<div if:true={useMarketingCloud}>
										<template if:true={hasExecutionCampaign}>
											<span class="slds-nav-vertical__item">
												<input type="radio" id="journey_with_parent" name="musqotmp__MarketingJourney__c"
													onclick={handleAddJourney} checked="" />
												<label
													class="slds-app-launcher__tile slds-text-link_reset slds-is-draggable inner-card inner-card-type  vertical_nav"
													for="journey_with_parent">
													<div
														class="slds-icon-standard-marketing-actions slds-icon_container slds-app-launcher__tile-figure inner-card-type-tile-figure item"
														style={getMarketingJourneyIconColor}><span class="uiImage"><img
																src={marketingJourney.data.themeInfo.iconUrl} class="icon " alt=""
																title={marketingJourney.data.label} /></span></div>
													<div class="slds-app-launcher__tile-body">
														{marketingJourney.data.label}
													</div>
												</label>
											</span>
										</template>
									</div>
								</fieldset>
							</div>
						</div>
					</div>
				</lightning-layout-item>
				<!--Gantt modal right section-->
				<lightning-layout-item size="8" medium-device-size="8" padding="around-small">
					<template if:true={showCampaignOptimizer}>
						<div class="slds-wrap slds-grid">
							<div class="slds-size_1-of-2">
								<lightning-radio-group label="" name="campaignCheckBoxes" onchange={handleOptimizerChange}
									options={options} value={selectedValue} type="radio"></lightning-radio-group>
							</div>
							<div class="slds-size_1-of-2" if:true={showOptimizerSchema}>
								<lightning-combobox name="optimizingschema" label={label.hl_Optimizing_Schema}
									value={campaignOptimizerRecordId} placeholder={label.hl_Select_Schema} options={campaignOptimizers}
									class="toggle slds-text-link--reset" onchange={handleCampaignOptimizerChange}></lightning-combobox>
							</div>
						</div>
					</template>
					<template if:true={showTemplate}>
						<ul class="types slds-grid_pull-padded slds-wrap c-container items_workspace"
							style="margin-bottom:6%; margin-left: 0%;">
							<lightning-layout multiple-rows>
								<template for:each={addItems} for:item="item">
									<lightning-layout-item key={item.name} size="6" medium-device-size="6" padding="around-small">
										<li data-name={item.name} data-label={item.label} onclick={handleSelectType}
											class="forceInfiniteDuelingListSelectableItems">
											<div>
												<div>
													<div
														class="dragArea slds-app-launcher__tile slds-text-link_reset slds-is-draggable inner-card inner-card-type uiDraggable"
														tabindex="-1" draggable="true">
														<div class="slds-app-launcher__tile-figure inner-card-type-tile-figure icon-image item"
															style={item.color}>
															<span class="uiImage"><img src={item.icon} alt="" title={item.label}
																	draggable="false" /></span>
														</div>
														<div class="slds-app-launcher__tile-body" style="cursor:pointer;">
															<div class="typeTileTitle" title={item.label}>
																<b>{item.label}</b>
															</div>
															<p class="visibleDescription typeDescription slds-text-color_default"
																title={item.description}>
																{item.metatext}
															</p>
														</div>
													</div>
												</div>
											</div>
										</li>
									</lightning-layout-item>
								</template>
							</lightning-layout>
						</ul>
					</template>
					<div style="color: red;" if:true={isEmptyTemplate}>{label.msg_template_availablity}</div>
				</lightning-layout-item>
			</lightning-layout>
			<div slot="footer">
				<lightning-button label={label.btn_cancel} variant="neutral" onclick={handleCancelAddModal} class="slds-button">
				</lightning-button>
				<template if:true={typeId}>
					<lightning-button label={label.btn_continue} variant="brand" onclick={handleContinue} class="slds-button">
					</lightning-button>
				</template>
			</div>
		</c-my-workspace-add-modal>
	</template>
	<!--Add Campaign - Start-->
	<div class="slds-hide">
		<lightning-record-form record-id="" object-api-name="Campaign" columns="2" layout-type="Full" mode="edit"
			onload={onLoad} record-type-id={recordTypeId}>
		</lightning-record-form>
	</div>
	<c-record-form-modal sectioncssclass={typeSectionCssClass} header={typeHeader}>
		<lightning-accordion allow-multiple-sections-open active-section-name={activeAccordionSections}>
			<lightning-record-edit-form object-api-name="Campaign" onsuccess={onSuccess} onsubmit={handleSubmit} record-type-id={recordTypeId}>
				<template for:each={typeLayoutSections} for:item="layoutSection">
					<lightning-accordion-section key={layoutSection.id} name={layoutSection.id} label={layoutSection.heading}>
						<template for:each={layoutSection.layoutRows} for:item="layoutRow">
							<lightning-layout key={layoutRow} multiple-rows>
								<template for:each={layoutRow.layoutItems} for:item="layoutItem">
									<template for:each={layoutItem.layoutComponents} for:item="layoutComponent">
										<lightning-layout-item key={layoutComponent.apiName} size="6" medium-device-size="6"
											padding="around-small">
											<template if:true={layoutComponent.dateFormate}>
												<lightning-input type="date" label={layoutComponent.label} data-field={layoutComponent.apiName}
													value={layoutComponent.value} date-style="short">
												</lightning-input>
											</template>
											<template if:true={layoutComponent.hasPlan}>
												<c-my-workspace-plan-lookup object-name="musqotmp__MarketingPlan__c" field-name={fieldName}
													field-label="Marketing Plan" field-value={templatePlan} has-disabled={getDisabled}
													obj-info={objInfo} onselected={handelSelectPlan} onsearched={handelSearchedPlan}
													onclick={handleClickPlan} onclicked={handleClickValuePlan} clear-icon-flag={clearIconFlag}
													show-icon={getshowPlanIcons}>
												</c-my-workspace-plan-lookup>
											</template>
											<template if:false={layoutComponent.dateFormate}>
												<template if:false={layoutComponent.hasPlan}>
													<lightning-input-field field-name={layoutComponent.apiName} value={layoutComponent.value}
														data-field={layoutComponent.apiName} onchange={handleFormChange}>
													</lightning-input-field>
												</template>
											</template>
										</lightning-layout-item>
									</template>
								</template>
							</lightning-layout>
						</template>
					</lightning-accordion-section>
				</template>
				<div class="slds-float_right">
					<lightning-button label={label.btn_cancel} variant="neutral" onclick={cancelCreateCampaign}>
					</lightning-button>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<lightning-button label={label.btn_save} variant="brand" type="submit" onclick={handleSubmit}
						data-action="NewCampaign" class="slds-float_right" disabled={disabledAction}>
					</lightning-button>
				</div>
			</lightning-record-edit-form>
		</lightning-accordion>
	</c-record-form-modal>
	<!--Add Campaign - End-->
	<!--Add Marketing Activity - Start-->
	<div class="slds-hide">
		<lightning-record-form record-id="" object-api-name="musqotmp__MarketingActivity__c" columns="2" layout-type="Full"
			mode="edit" onload={onLoadMarketingActivity}>
		</lightning-record-form>
	</div>
	<c-my-workspace-marketing-activity-modal sectioncssclass={typeSectionCssClassMarketingActivity}
		header={typeHeaderMarketingActivity}>
		<lightning-accordion allow-multiple-sections-open active-section-name={activeAccordionSectionsMarketingActivity}>
			<lightning-record-edit-form object-api-name="musqotmp__MarketingActivity__c"
				onsuccess={onSuccessMarketingActivity} onsubmit={handleSubmit}>
				<template for:each={typeLayoutSectionsMarketingActivity} for:item="layoutSection">
					<lightning-accordion-section key={layoutSection.id} name={layoutSection.id} label={layoutSection.heading}>
						<template for:each={layoutSection.layoutRows} for:item="layoutRow">
							<lightning-layout key={layoutRow} multiple-rows>
								<template for:each={layoutRow.layoutItems} for:item="layoutItem">
									<template for:each={layoutItem.layoutComponents} for:item="layoutComponent">
										<lightning-layout-item key={layoutComponent.apiName} size="6" medium-device-size="6"
											padding="around-small">
											<template if:true={layoutComponent.dateFormate}>
												<lightning-input type="date" label={layoutComponent.label} data-field={layoutComponent.apiName}
													value={layoutComponent.value} date-style="short">
												</lightning-input>
											</template>
											<template if:false={layoutComponent.dateFormate}>
												<lightning-input-field field-name={layoutComponent.apiName} value={layoutComponent.value}
													data-field={layoutComponent.apiName}>
												</lightning-input-field>
											</template>

										</lightning-layout-item>
									</template>
								</template>
							</lightning-layout>
						</template>
					</lightning-accordion-section>
				</template>
				<div class="slds-float_right">
					<lightning-button label={label.btn_cancel} variant="neutral" onclick={cancelCreateMarketingActivity}>
					</lightning-button>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<lightning-button label={label.btn_save} variant="brand" type="submit" onclick={handleSubmit}
						data-action="NewMarketingActivity" class="slds-float_right" disabled={disabledAction}>
					</lightning-button>
				</div>
			</lightning-record-edit-form>
		</lightning-accordion>
	</c-my-workspace-marketing-activity-modal>
	<!--Add Marketing Activity - End-->
	<!--Add Journey - Start-->
	<div class="slds-hide">
		<lightning-record-form record-id="" object-api-name="musqotmp__MarketingJourney__c" columns="2" layout-type="Full"
			mode="edit" onload={onLoadJourney}>
		</lightning-record-form>
	</div>
	<!-- <div> -->
	<c-my-workspace-journey-modal sectioncssclass={typeSectionCssClassJourney} header={typeHeaderJourney}>
		<lightning-accordion allow-multiple-sections-open active-section-name={activeAccordionSectionsJourney}>
			<lightning-record-edit-form object-api-name="musqotmp__MarketingJourney__c" onsuccess={onSuccessJourney}
				onsubmit={handleSubmit}>
				<template for:each={typeLayoutSectionsJourney} for:item="layoutSection">
					<lightning-accordion-section key={layoutSection.id} name={layoutSection.id} label={layoutSection.heading}>
						<template for:each={layoutSection.layoutRows} for:item="layoutRow">
							<lightning-layout key={layoutRow} multiple-rows>
								<template for:each={layoutRow.layoutItems} for:item="layoutItem">
									<template for:each={layoutItem.layoutComponents} for:item="layoutComponent">
										<lightning-layout-item key={layoutComponent.apiName} size="6" medium-device-size="6"
											padding="around-small">
											<template if:true={layoutComponent.dateFormate}>
												<lightning-input type="date" label={layoutComponent.label} value={layoutComponent.value}
													data-field={layoutComponent.apiName} date-style="short">
												</lightning-input>
											</template>
											<template if:false={layoutComponent.dateFormate}>
												<lightning-input-field field-name={layoutComponent.apiName} value={layoutComponent.value}
													data-field={layoutComponent.apiName}>
												</lightning-input-field>
											</template>
										</lightning-layout-item>
									</template>
								</template>
							</lightning-layout>
						</template>
					</lightning-accordion-section>
				</template>
				<div class="slds-float_right">
					<lightning-button label={label.btn_cancel} variant="neutral" onclick={cancelCreateJourney}>
					</lightning-button>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<lightning-button label={label.btn_save} variant="brand" type="submit" onclick={handleSubmit}
						data-action="NewMarketingJourney" disabled={disabledAction}>
					</lightning-button>
				</div>
			</lightning-record-edit-form>
		</lightning-accordion>
	</c-my-workspace-journey-modal>
	<!-- </div> -->
	<!--Add Journey - End-->


	<!--Sowmya 27 Nov-->
	<template if:true={newTemplateInfo}>
		<div class="campaign-only" style="height: 640px;">
			<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
				aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
				<div class="slds-modal__container">
					<header class="slds-modal__header">
						<lightning-button-icon class="slds-modal__close" title="Close" icon-name="utility:close"
							icon-class="slds-button_icon-inverse" onclick={closeModal}></lightning-button-icon>
						<template if:true={parent}>
							<h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate" style="margin-bottom: 6px;">
								{campaignHeader}</h2>
							<h1 class="slds-text-heading_small slds-hyphenate">{parentStartDate} &ndash; {parentEndDate}
							</h1>
						</template>
						<template if:false={parent}>
							<h2 id="modal-heading-0" class="slds-text-heading_medium slds-hyphenate" style="margin-bottom: 6px;">New
								Campaign</h2>
						</template>
					</header>
					<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
						<lightning-layout multiple-rows>
							<template if:true={parent}>
								<lightning-layout-item size="6" medium-device-size="6" padding="around-small">
									<lightning-input type="text" name="campaignName" label="Campaign Name" required
										onchange={handleFormInputChange}></lightning-input>
								</lightning-layout-item>
								<lightning-layout-item size="6" medium-device-size="6" padding="around-small">
								</lightning-layout-item>
								<lightning-layout-item size="6" medium-device-size="6" padding="around-small">
									<lightning-input type="date" name="StartDate" label="Start Date" required
										onchange={handleFormInputChange}></lightning-input>
								</lightning-layout-item>
								<!--<lightning-layout-item size="6" medium-device-size="6" padding="around-small">
									<lightning-input type="date" name="EndDate" label="End Date" required
										onchange={handleFormInputChange}>
									</lightning-input>
								</lightning-layout-item>-->
							</template>

							<!-- Sowmya-->
							<template if:false={parent}>
								<lightning-layout-item size="6" medium-device-size="6" padding="around-small">
									<lightning-input type="text" name="campaignName" label="Campaign Name" required
										onchange={handleFormInputChange}></lightning-input>
								</lightning-layout-item>
								<lightning-layout-item size="6" medium-device-size="6" padding="around-small">
									<lightning-input type="date" name="StartDate" label="Start Date" required
										onchange={handleFormInputChange} date-style="short" value={topLevelStartDate}>
									</lightning-input>
								</lightning-layout-item>
								<lightning-layout-item size="6" medium-device-size="6" padding="around-small">
									<c-customlookup object-name="musqotmp__MarketingPlan__c" field-name={fieldName}
										field-label="Marketing Plan" field-value={fieldValue} has-disabled={getDisabled} obj-info={objInfo}
										onselected={handelSelect} onsearched={handelSearch} onclick={handleClick}
										onclicked={handleClickValue} clear-icon-flag={clearIconFlag} show-icon={getshowIcons} required={requiredPlan}>
									</c-customlookup>
								</lightning-layout-item>
								<lightning-layout-item size="6" medium-device-size="6" padding="around-small">
									<lightning-input type="date" name="EndDate" label="End Date" required onchange={handleFormInputChange}
										date-style="short" value={topLevelEndDate}>
									</lightning-input>
								</lightning-layout-item>
								<lightning-layout-item size="6" medium-device-size="6" padding="around-small">
									<c-campaign-lookup object-name="Campaign" field-name={fieldName} field-label="Parent Campaigns"
										field-value={fieldValue} has-disabled={getDisabled} obj-info={campaignObjInfo}
										onselected={handelSelectCampaign} onsearched={handelSearched} onclick={handleClickParent}
										onclicked={handleClickCampaign} clear-icon-flag={clearIconFlag} show-icon={getshowIcons} required={requiredCampaign}>
									</c-campaign-lookup>
								</lightning-layout-item>
							</template>
						</lightning-layout>
					</div>
					<!-- End-->
					<footer class="slds-modal__footer">
						<lightning-button label={label.btn_cancel} variant="neutral" onclick={closeModal}>
						</lightning-button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<lightning-button label="Create & Open" variant="neutral" data-action="open" onclick={handleClone}>
						</lightning-button>&nbsp;&nbsp;&nbsp;&nbsp;
						<lightning-button label="Create" variant="brand" onclick={handleClone}></lightning-button>
					</footer>
				</div>
			</section>
			<div class="slds-backdrop slds-backdrop_open"></div>
		</div>
		<!--End-->
	</template>
	<c-toast></c-toast>
</template>