.scale_cell_class {
    line-height: 17px;
}
.gantt_campaign{
    background: url(/resource/musqotmp__GanttTree_Campaign);
}
.gantt_marketingactivity{
    background: url(/resource/musqotmp__GanttTree_MarketingActivity);
}
.gantt_marketingjourney{
    background: url(/resource/musqotmp__GanttTree_MarketingJourney);
}
.gantt_tree_icon {
    background-repeat: no-repeat;
    background-position: center center;
}
.gantt_expandfullscreen{
    background: url(/resource/musqotmp__Gantt_Expand);
}
.gantt_collapsefullscreen{
    background: url(/resource/musqotmp__Gantt_Collapse);
}
.gantt_task_content .campaign{
    line-height:1;
    padding-top: 2px;
}
.gantt_grid_data .gantt_row.odd:hover,.gantt_grid_data .gantt_row:hover {
    background-color: #CCF2FF
}
.gantt_grid_data .gantt_row.gantt_selected,.gantt_grid_data .gantt_row.odd.gantt_selected,.gantt_task_row.gantt_selected {
    background-color: #CCF2FF
}
.gantt_task_row.gantt_selected .gantt_task_cell {
    border-right-color: #c3e9f7;
}
.display-flex {
    display: flex;
}
.item {
    margin: .5rem;
}
.icon-image {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: .125rem;
} 
 .icon-image img {
    height: 2.25rem;
    width: 2.25rem;
    padding: 6px;
}
.dragArea {
    padding: 0;
    overflow: hidden;
    width: auto;
    margin-right: 15px;
}
.inner-card-around {
    padding: 0px 8px 0px 8px;
}
.slds-is-active .inner-card-type:focus {
    border-left-width: .5rem;
    color: rgb(0, 95, 178);
}
.slds-is-active .inner-card-type {
    background-color: rgba(0, 112, 210, 0.1);
    border-color: rgb(221, 219, 218) rgb(221, 219, 218) rgb(221, 219, 218) rgb(0, 112, 210);
    border-left-width: .25rem;
}
.inner-card-type-tile-figure {
    padding: 0;
}
.c-container {
    margin: 8px;
}
.typeTileTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(107, 109, 112);
    display: block;
    text-align: left;
    max-width: 180px;
}
.typeDescription {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gantt {
    height: 100%;
}
.gantt_parent_div_height {
    height: -moz-calc(100% - 150px);
    height: -webkit-calc(100% - 150px);
    height: calc(100% - 150px);
}
.slds-icon_container{
    margin-right: 15px;
}
.slds-icon-standard-marketing-actions {
    background-color: rgb(147, 15, 165);
}
.items_workspace .slds-medium-size_6-of-12 {
    padding: 0px;
}

.vertical_nav{
    position: relative !important;
}

div input[readonly] {
    padding-left: 0.75rem !important;  
}
.slds-input{
    padding-left: 0.75rem !important;
}

.slds-input-has-icon .slds-input__icon {
    top: 56% !important;
}
.slds-icon_small, .slds-icon--small {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 2;
}

.slds-modal__content{
    overflow: initial !important;
}

.gantt_link_control.task_right{
    display: none;
}
.gantt_link_control.task_left{
    display: none;
}

  .nested_task .gantt_add{
    display: none !important;
}
.slds-size_1-of-2{
    padding: 10px !important;
}