<template>
    <div class="slds-card slds-card_boundary related_list_card_border_top forceRelatedListCardDesktop">
        <div class="related_list_themed_border_top">
            <lightning-card if:true={header}>
                <div class="slds-grid slds-page-header forceRelatedListCardHeader">
                    <header class="slds-media slds-media--center slds-has-flexi-truncate">
                        <div class="slds-media__figure stencil slds-avatar slds-avatar_small">
                            <div class="extraSmall forceEntityIcon" style={journeyIconColor}>
                                <span class="uiImage">
                                    <img src={objectInfo.themeInfo.iconUrl} class="icon " alt={objectInfo.label}
                                        title={objectInfo.label}>
                                </span>
                            </div>
                        </div>
                        <div class="slds-media__body">
                            <h2 class="slds-card__header-title">
                                <a class="slds-card__header-link baseCard__header-title-container">
                                    <span class="slds-truncate slds-m-right--xx-small"
                                        title={objectInfo.label}>{objectInfo.label}</span>
                                    <span class="slds-shrink-none slds-m-right--xx-small"
                                        title={dataLength}>({dataLength})</span>
                                </a>
                            </h2>
                        </div>
                        <div class="slds-page-header__control">
                            <ul class="slds-button-group-list">
                                <li>
                                    <lightning-button label={label.btn_New} onclick={handleNew}></lightning-button>
                                </li>
                            </ul>
                        </div>
                    </header>
                </div>
                <c-datatable records={data} rowoffset={rowOffset} columns={columns} selectedrows={selectedRows}
                    sortedby={sortedBy} sorteddirection={sortedDirection} hidecheckboxcolumn={hideCheckboxColumn}
                    showrownumbercolumn={showRowNumberColumn} tableloadingstate={tableLoadingState}
                    onselect={handleSelect} onrowselect={handleSelectedRows} oncolumnsort={handleColumnSort}>
                </c-datatable>
            </lightning-card>
        </div>
    </div>
    <div class="slds-hide">
        <lightning-record-form record-id="" object-api-name={objectApiName} columns="2" layout-type="Full" mode="edit"
            onload={onLoad}>
        </lightning-record-form>
    </div>
    <c-record-form-modal sectioncssclass={sectionModalCssClass} header={modalHeader}>
        <lightning-accordion allow-multiple-sections-open active-section-name={activeAccordionSections}>
            <lightning-record-edit-form object-api-name={objectApiName} record-id={recordFormId} onsuccess={onSuccess}
                onsubmit={handleSubmit}>
                <template for:each={typeLayoutSections} for:item="layoutSection">
                    <lightning-accordion-section key={layoutSection.id} name={layoutSection.id}
                        label={layoutSection.heading}>
                        <template for:each={layoutSection.layoutRows} for:item="layoutRow">
                            <lightning-layout key={layoutRow} multiple-rows>
                                <template for:each={layoutRow.layoutItems} for:item="layoutItem">
                                    <template for:each={layoutItem.layoutComponents} for:item="layoutComponent">
                                        <lightning-layout-item key={layoutComponent.apiName} size="6"
                                            medium-device-size="6" padding="around-small">
                                            <template if:true={layoutComponent.dateFormate}>
                                                <lightning-input type="date" label={layoutComponent.label}
                                                    data-field={layoutComponent.apiName} value={layoutComponent.value}
                                                    date-style="short">
                                                </lightning-input>
                                            </template>
                                            <template if:false={layoutComponent.dateFormate}>
                                                <lightning-input-field field-name={layoutComponent.apiName}
                                                    value={layoutComponent.value} data-field={layoutComponent.apiName}
                                                    onchange={handleFormChange}>
                                                </lightning-input-field>
                                            </template>
                                        </lightning-layout-item>
                                    </template>
                                </template>
                            </lightning-layout>
                        </template>
                    </lightning-accordion-section>
                </template>
                <lightning-button label={label.btn_save} variant="brand" type="submit" class="slds-float_right"
                    disabled={hasDisabled} data-action="new">
                </lightning-button>
                <lightning-button label={label.btn_cancel} variant="neutral" onclick={cancelModal}
                    class="slds-float_right" style="margin-right: 5px;">
                </lightning-button>
            </lightning-record-edit-form>
        </lightning-accordion>
    </c-record-form-modal>
    <template if:true={showEdit}>
        <c-record-form-modal sectioncssclass={sectionModalCssClass} header={modalHeader}>
            <lightning-accordion allow-multiple-sections-open active-section-name={activeAccordionSections}>
                <lightning-record-edit-form object-api-name={objectApiName} record-id={recordFormId}
                    onsuccess={onSuccess} onsubmit={handleSubmit}>
                    <template for:each={editTypeLayoutSections} for:item="layoutSection">
                        <lightning-accordion-section key={layoutSection.id} name={layoutSection.id}
                            label={layoutSection.heading}>
                            <template for:each={layoutSection.layoutRows} for:item="layoutRow">
                                <lightning-layout key={layoutRow} multiple-rows>
                                    <template for:each={layoutRow.layoutItems} for:item="layoutItem">
                                        <template for:each={layoutItem.layoutComponents} for:item="layoutComponent">
                                            <lightning-layout-item key={layoutComponent.apiName} size="6"
                                                medium-device-size="6" padding="around-small">
                                                <template if:true={layoutComponent.dateFormate}>
                                                    <lightning-input type="date" label={layoutComponent.label}
                                                        data-field={layoutComponent.apiName}
                                                        value={layoutComponent.value} date-style="short">
                                                    </lightning-input>
                                                </template>
                                                <template if:false={layoutComponent.dateFormate}>
                                                    <lightning-input-field field-name={layoutComponent.apiName}
                                                        value={layoutComponent.value}
                                                        data-field={layoutComponent.apiName}
                                                        onchange={handleFormChange}>
                                                    </lightning-input-field>
                                                </template>
                                            </lightning-layout-item>
                                        </template>
                                    </template>
                                </lightning-layout>
                            </template>
                        </lightning-accordion-section>
                    </template>
                    <lightning-button label={label.btn_save} variant="brand" type="submit" class="slds-float_right"
                        disabled={hasDisabled} data-action="new">
                    </lightning-button>
                    <lightning-button label={label.btn_cancel} variant="neutral" onclick={cancelModal}
                        class="slds-float_right" style="margin-right: 5px;">
                    </lightning-button>
                </lightning-record-edit-form>
            </lightning-accordion>
        </c-record-form-modal>
    </template>
    <c-modal header={modalHeader} sectioncssclass={sectioncssclass}>{content}
        <div slot="footer">
            <lightning-button label={label.btn_cancel} variant="neutral" onclick={handleCancelModal}
                style="margin-right: 5px;"></lightning-button>
            <lightning-button label={label.btn_Delete} variant="brand" onclick={handleDelete}>
            </lightning-button>
        </div>
    </c-modal>
    <c-toast></c-toast>
</template>