<template>
    <lightning-card>
        <h3 slot="title" class="slds-text-align_center slds-page-header__title slds-m-right--small slds-align-middle fade-text">
            {title}
        </h3>
        <p class="slds-p-horizontal_small"><img src={staticResourceUrl} /></p>
    </lightning-card>
</template>