<template>
    <lightning-record-view-form object-api-name={objectapiname} record-id={recordid}>
        <lightning-layout multiple-rows>
            <template for:each={fields} for:item="field">
                <lightning-layout-item key={field.name} size="6" medium-device-size="6" padding="around-small">
                    <lightning-output-field field-name={field.name}></lightning-output-field>
                </lightning-layout-item>
            </template>
        </lightning-layout>
    </lightning-record-view-form>
</template>