<template>
    <section class="tabs__content active uiTab" aria-expanded="true" role="tabpanel">
        <div class="flexipageComponent">
            <div class="slds-clearfix slds-card_boundary  slds-card inlineEditEnabled">
                <div class="slds-card__header slds-grid">
                    <header if:true={marketingJourney} class="slds-media slds-media--center slds-has-flexi-truncate">
                        <div class="slds-media__figure">
                            <div class="extraSmall forceEntityIcon" style={marketingJourneyIconStyle}><span class="uiImage"><img src={marketingJourney.themeInfo.iconUrl} class="icon " alt="" title={marketingJourney.label} /></span></div>
                        </div>
                        <div class="slds-media__body">
                            <h2 id="header"><span class="slds-card__header-link baseCard__header-title-container slds-text-heading--small slds-truncate slds-m-right--xx-small" title={marketingJourney.label}></span><span class="slds-text-heading--small slds-shrink-none slds-m-right--xx-small" title="">{marketingJourney.label}</span></h2>
                        </div>
                    </header>
                    <div class="slds-no-flex">
                        <div class="actionsContainer">
                            <ul class="slds-button-group slds-m-left--xx-small small oneActionsRibbon forceActionsContainer">
                                <div if:true={isConnectedMarketingCloud} >
                                    <li>
                                        <lightning-button-icon icon-name="utility:refresh"  alternative-text="refresh" onclick={handleSync} style="padding-right: 10px;"></lightning-button-icon>
                                        <lightning-button-icon icon-name="utility:delete"  alternative-text="delete" onclick={handleDeLinked} style="padding-right: 10px;"></lightning-button-icon>
                                        <lightning-button slot="actions" label={label.btnOpenInMC} onclick={navigateToMarketingCloud}></lightning-button>
                                    </li>
                                </div>
                                <div if:false={isConnectedMarketingCloud} >
                                    <li>
                                        <lightning-button slot="actions" label={label.btnLinkMCJourney} onclick={handleConnectMarketingCloud}></lightning-button>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div if:true={isConnectedMarketingCloud} class="full forcePageBlock forceRecordLayout" style="border-top: 0.5px solid #cdcdcd;">
                    <lightning-record-view-form  record-id={recordId}  object-api-name={marketing_journey_object}>
                        <div class="slds-grid" style="padding: 10px;">
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-output-field field-name="musqotmp__JourneyName__c">
                                </lightning-output-field>
                                <lightning-output-field field-name="musqotmp__JourneyStatus__c">
                                </lightning-output-field>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-output-field field-name="musqotmp__JourneyDescription__c">
                                </lightning-output-field>
                                <lightning-output-field field-name="musqotmp__JourneyVersion__c">
                                </lightning-output-field>
                            </div>
                        </div>
                    </lightning-record-view-form>
                </div>
            </div>
        </div>
    </section>

  <c-modal header="Marketing Cloud Journey" sectioncssclass={sectioncssclass}>
      <!--<div>
          <lightning-combobox name="journeyType" label="Journey Type" value={journeyType}
              placeholder="Select Progress" options={journeyTypes} onchange={handleChange}>
          </lightning-combobox>
      </div>-->
      <div style="height: 200px;">
          <lightning-combobox name="journey" label="Journey" value={journeyId}
              placeholder="Select journey" options={marketingCloudJourneyOptions} onchange={handleJourneyChange}>
          </lightning-combobox>
      </div>
      <div slot="footer">
          <lightning-button label={label.cancel} variant="neutral" onclick={handleCancelModal} style="margin-right: 5px;"></lightning-button>
          <lightning-button label={label.save} variant="brand" onclick={updateMarketingJourney}></lightning-button>
      </div>
  </c-modal>
  <c-toast></c-toast>
</template>