<template>
    <lightning-card>
        <div>
            <div class="slds-form-element">
                <div class="slds-form-element__control">
                    <div class="slds-combobox_container">
                        <div class={txtclassname} data-id="resultBox" aria-expanded="false" aria-haspopup="listbox"
                            role="combobox">
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon slds-input-has-icon_left-right"
                                role="none">
                                <template if:true={showIcon}>
                                    <template if:true={objInfo}>
                                        <div style="margin-left: 5px;">
                                            <span
                                                class="slds-icon_container slds-icon-utility-search slds-input__icon iconheight"
                                                style={getIconColor}>
                                                <img src={objInfo.themeInfo.iconUrl} class="icon " alt={objInfo.label}
                                                    title={objInfo.label} />
                                            </span>
                                        </div>
                                    </template>
                                </template>
                                <lightning-input required={required} read-only={inputReadOnly} data-id="userinput"
                                    label={fieldLabel} name="searchText" onchange={searchField} onclick={handleClick}
                                    value={fieldValue} class="leftspace" disabled={hasDisabled}
                                    style="margin-top: -16px;"></lightning-input>
                                <div if:true={iconFlag}>
                                    <span
                                        class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right iconheight">
                                        <lightning-icon
                                            class="slds-icon slds-icon slds-icon_small slds-icon-text-default"
                                            icon-name="utility:search" size="x-small" alternative-text="icon"
                                            style="margin-top: -4px;">
                                        </lightning-icon>
                                    </span>
                                </div>
                                <div if:true={clearIconFlag}>
                                    <button
                                        class="slds-input__icon slds-input__icon_right slds-button slds-button_icon iconheight">
                                        <lightning-icon
                                            class="slds-icon slds-icon slds-icon_small slds-icon-text-default"
                                            icon-name="utility:clear" size="x-small" alternative-text="icon"
                                            onclick={closeIcon}>
                                        </lightning-icon>
                                        <span class="slds-assistive-text">Clear</span>
                                    </button>
                                </div>
                            </div>
                            <!-- Second part display result -->
                            <div id="listbox-id-1"
                                class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid"
                                role="listbox">
                                <ul>
                                    <li class="slds-listbox__item">
                                        <div class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                                            style="margin-left: 10px;">
                                            <h3 title={recentItems}>{recentItems}
                                            </h3>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                    <template for:each={sObjectList} for:item="result">
                                        <li key={result.Id} role="presentation" class="slds-listbox__item">
                                            <span
                                                class="slds-media slds-listbox__option slds-listbox__option_entity slds-media_center"
                                                role="option" onclick={setSelectedRecord} data-recordid={result.Id}
                                                data-recordname={result.Name}>
                                                <template if:true={objInfo}>
                                                    <div style="">
                                                        <span
                                                            class="slds-icon_container slds-icon-utility-search slds-input__icon iconheight"
                                                            style={getIconColor}>
                                                            <img src={objInfo.themeInfo.iconUrl} class="icon "
                                                                alt={objInfo.label} title={objInfo.label} />
                                                        </span>
                                                    </div>
                                                </template>
                                                <span class="slds-media__body">
                                                    <span
                                                        class="slds-listbox__option-text slds-listbox__option-text_entity"
                                                        style="margin-left: 10px;">{result.Name}</span>
                                                </span>
                                            </span>
                                        </li>
                                    </template>
                                </ul>
                                <template if:true={showSpinner}>
                                    <div class="">
                                        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                                    </div>
                                </template>
                            </div>
                            <div if:true={messageFlag}>
                                No result found.
                            </div>
                            <div if:true={LoadingText}>
                                Loading...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </lightning-card>
    <c-toast></c-toast>
</template>